[2019-04-03 21:03] Ardy123 commented on #561
I got approval to share the spirv code... whats the best way to give it to you?

[2019-04-03 21:44] cdavis5e commented on #561
Attach or paste (preferably attach, particularly if it's large) the disassembly to the bug you file with SPIRV-Cross. If you only have raw SPIR-V, you can use the `spirv-dis` tool to get this.

[2019-04-04 08:26] HansKristian-Work commented on #535
If you compile from HLSL, you will end up with row-major matrices everywhere (multiplication orders have to be flipped and matrix col->row major flips). Please file a SPIRV-Cross bug with the failing SPIR-V.

[2019-04-05 01:13] Ardy123 commented on #561
; SPIR-V
; Version: 1.0
; Generator: Codeplay; 0
; Bound: 543
; Schema: 0
               OpCapability Shader
               OpCapability Int8
               OpCapability Int16
               OpExtension "SPV_KHR_storage_buffer_storage_class"
               OpMemoryModel Logical GLSL450
               OpEntryPoint GLCompute %118 "bfk1" %gl_GlobalInvocationID
               OpEntryPoint GLCompute %4

[2019-04-05 09:27] HansKristian-Work commented on #561
I'll have a look and file a SPIRV-Cross bug for it if I reproduce it.

[2019-04-05 10:20] HansKristian-Work commented on #561
Fix on the way: https://github.com/KhronosGroup/SPIRV-Cross/pull/930

[2019-04-05 16:56] billhollings commented on #561
@Ardy123 PR #563 pulls this SPIRV-Cross fix into MoltenVK. Please test and close this issue if it fixes your issue.

[2019-04-05 18:39] danginsburg commented on #556
Thanks, I've hooked up to the new interface and confirmed this fixes the issue.  Closing.

[2019-04-05 20:22] Ardy123 commented on #561
Thanks! this bug is fixed

[2019-04-05 20:23] #561 closed

[2019-04-08 23:26] Ardy123 opened #564 "Sign extension of 8 bit types does not extend sign bit..."
When extending an char to an int, it doesn't preserve the sign value, resulting in incorrect output...

for example..
-89 + -15 + -39 + 42 should = -101 but instead equals 667

Here is the original opencl code compiled to spirv using clspv (https://github.com/google/clspv)..

void kernel func(__global int * pDst, __global char4 * pSrc) {
	const size_t id = get_global_id(0);
	int4 val = convert_int

[2019-04-08 23:43] Ardy123 commented on #549
This has been fixed in the latest code from the head branch.

[2019-04-08 23:43] #549 closed

[2019-04-09 00:13] billhollings commented on #564
@Ardy123

Can you repost this (and any shader conversions issues) to the [SPIRV-Cross issue list](https://github.com/KhronosGroup/SPIRV-Cross/issues), please? That's where it will get addressed.

...Bill

[2019-04-09 16:48] Ardy123 commented on #564
Done...
https://github.com/KhronosGroup/SPIRV-Cross/issues/939

[2019-04-09 19:09] mbarriault opened #566 "Use constant address space for SPIR-V parameters when generating tessellation control shader."
Regarding [pull request #940 of SPIRV-Cross](https://github.com/KhronosGroup/SPIRV-Cross/pull/940). In `MVKCommandEncoder::setComputeBytes`, the call `[MTLComputeCommandEncoder setBytes...]` requires use of the `constant` address space, but `[MTLComputeCommandEncoder setBuffer...]` requires 256-byte aligned offset. The former was a trivial fix, but the latter I don't see an obvious solution to.

[2019-04-09 19:14] cdavis5e commented on #566
You can get a temporary `MTLBuffer` from the `MVKCommandEncoder`. See `getTempMTLBuffer()`.

I had hoped to avoid doing that, and it seems to work without Metal's validation layer on, but I guess validation doesn't like what I was doing there.

[2019-04-09 19:15] mbarriault opened #567 "Tessellation pipeline re-clears attachments"
After the tessellation control shader executes, `MVKCmdDraw::encode` calls `cmdEncoder->beginMetalRenderPass();` again. This creates a new `MTLRenderPassDescriptor`, which will clear the attachments based on the bound `VkRenderPass`'s clear modes. In practice this prevents the rendering of two or more tessellated objects unless one starts a new render pass with `VK_ATTACHMENT_LOAD_OP_LOAD`.

[2019-04-09 19:24] cdavis5e commented on #567
Unfortunately, we have to create a new `MTLRenderPassDescriptor`, because we ended the old render pass to run the tess. control shader. This is a consequence of the weird (relative to practically every other graphics API) way Metal does tessellation. The fix, then, is to use `MTLLoadActionLoad` when restarting the render pass where the original load op was `VK_ATTACHMENT_LOAD_OP_CLEAR`.

[2019-04-10 13:24] apenngrace commented on #509
Hi @rafaga, I wrote the [apenngrace/vulkan](https://github.com/apenngrace/homebrew-vulkan) tap.

It sounds like you have some questions about it.  I am open to collaborating and improving the cask if something can be improved.

Most of the files are installed to `/usr/local/lib`, `/usr/local/bin`, `/usr/local/include/vulkan`, and `/usr/local/share/vulkan`.  I am wondering you are considering those

[2019-04-10 15:36] yurikoles commented on #509
Hi @apenngrace,

Seems to be a link to open issues list.

[2019-04-10 15:44] apenngrace commented on #509
@yurikoles, sorry you're right.  I updated my last comment to fix those links.

[2019-04-10 19:01] mbarriault opened #568 "Linking to MoltenVK generates hundreds of weak symbol warnings"
This started a few weeks ago, but linking against MoltenVK.framework results in 130 warnings about weak symbols. They're all from symbols inside SPIRV-Cross, however as the source is compiled directly into libMoltenVK.a, this seems like a MoltenVK issue. This is after a full clean build of both MoltenVK, ExternalDependencies, and my own project. I've verified that the same headers are being used f

[2019-04-10 19:01] mbarriault commented on #568
[Build log](https://github.com/KhronosGroup/MoltenVK/files/3065415/Build.Bearings-macOS_2019-04-10T19-26-48.txt)

[2019-04-10 20:46] billhollings commented on #568
This typically happens when MoltenVK or your app is built in Debug mode and only for the macOS libraries.

ExternalDependencies builds `libSPIRVCross.a` in Release mode...and there is a mismatch on public visibility when linking...even though Debug mode should have the same visibility settings as Release mode.

I haven't been able to resolve a fix for this yet. For now...when building the dylibs a

[2019-04-10 20:49] mbarriault commented on #568
Hm, okay. Strange that this didn't happen before, I've been using MoltenVK almost exclusively in Debug basically since it went open source. Is there any reason why a Debug target can't be added to ExternalDependencies? The project looks fairly straightforward.

[2019-04-10 21:27] billhollings commented on #568
It's also strange that it is only SPIRV-Cross that is affected. SPIRV-Tools is not.

Originally...SPIRV-Cross was built right into `libMoltenVK.a`. Now SPIRV-Cross is first built into a separate `libSPIRVCross.a` library and then pre-linked into `libMoltenVK.a`. That's why it didn't happen before.

Yes...a Debug target could be added to ExternalDependiences...along with a debug switch to the `fetc

[2019-04-11 21:40] mbarriault commented on #567
Resolved in pull request #569.

[2019-04-12 13:56] rafaga commented on #509
It's not your fault, I'm not criticizing you, I'm just saying that SDK distribution comes without the pc files, but they are present in some of the source repos. As you are using the sdk release well is not possible to auto-generate such files, but i Don't know if generating the .pc files manually (is not that difficult) from the sdk, would bring some hidden side-effects.

Hi, I'm not related with

[2019-04-12 13:56] rafaga commented on #509
It's not your fault, I'm not criticizing you, I'm just saying that SDK distribution comes without the pc files, but they are present in some of the source repos. As you are using the sdk release well is not possible to auto-generate such files, but i Don't know if generating the .pc files manually (is not that difficult) from the sdk, would bring some hidden side-effects.

Hi, I'm not related with

[2019-04-12 13:59] yurikoles commented on #509
@rafaga it seems like you had sent two similar comments.

[2019-04-12 14:04] rafaga commented on #509
@yurikoles sorry, my connection is unstable .... fixed

[2019-04-12 14:30] rafaga commented on #509
Just to clarify I'm still want to continue my effort to bring MoltenVK and all the Vulkan libraries to homebrew, I just don't want to duplicate efforts or  working in a methond that goes to a dead-end.

[2019-04-14 18:56] pizuz opened #573 "macOS: MoltenVK 1.0.34 crashes Dolphin emulator"
Hi,

the recently released MoltenVK 1.0.34 crashes the [Dolphin emulator](https://github.com/dolphin-emu/dolphin) (latest dev build 5.0-9973) when trying to run any game. MoltenVK 1.0.33 (Dolphin ships with it) doesn't crash it. I'm getting this error:

`validateMTLStorageMode:240: failed assertion 'invalid storageMode (0). Must be one of MTLStorageModeManaged(1) MTLStorageModePrivate(2)'`

Specs:

[2019-04-14 20:33] cdavis5e commented on #573
Do you have a backtrace? I have a sneaking suspicion that #545 is the culprit, but I need evidence to confirm it.

[2019-04-14 20:53] mbarriault commented on #567
Looks like this needs to be re-opened, my fix partially resolves the issue but it runs deeper than I anticipated. The true fix I think will need knowledge of the "future", which I don't think is necessarily impossible due to how Vulkan/MVK records commands before processing.

A typical render pass with tessellated objects might go like this, hoping I have the order of everything straight.

1. `vkC

[2019-04-14 20:57] mbarriault commented on #567
I'm not sure if ending/creator more render passes has performance implications for the same amount of draw calls, but thinking about it further, we could also ensure the vertex pre-pass pipeline is created with depth/stencil writing disabled. Currently it inherits from the input `vkGraphicsPipelineCreateInfo`.

[2019-04-15 05:57] pizuz commented on #573
Is [this](https://github.com/KhronosGroup/MoltenVK/files/3078602/crash.zip) sufficient? Or shall I recompile MVK with debug symbols?

[2019-04-15 08:04] abeyn commented on #461
Thank you very much. It work's.

[2019-04-15 08:04] #461 closed

[2019-04-15 14:58] cdavis5e commented on #573
No, that's sufficient. And yeah, that confirms my suspicion.

Does [this patch](https://github.com/KhronosGroup/MoltenVK/files/3080730/fix-shared-buffer-view.diff.txt) fix the problem?

[2019-04-15 15:09] billhollings commented on #567
@mbarriault Thanks for your detailed analysis. Are you able to reopen this issue yourself? Or I can do so if there is a permission issue stopping you.

[2019-04-15 15:10] mbarriault commented on #567
As far as I can see Github doesn't offer me the option to re-open.

[2019-04-15 15:11] billhollings commented on #567
Huh. Okay. Done.

[2019-04-15 15:14] billhollings commented on #567
@mbarriault I've explicitly added you as a collaborator now. Let me know if that changes your permissions to do so in the future.

[2019-04-15 15:17] mbarriault commented on #567
Yep, I get the re-open button on closed issues now.

I can probably hash out an initial fix this evening to this design, but as stated will certainly need discussion and iteration to ensure no other toes get stepped on.

[2019-04-15 15:38] #566 closed

[2019-04-15 21:25] pizuz commented on #573
Unfortunately no. Still crashes with the same error.

[2019-04-15 21:32] cdavis5e commented on #573
Okay, how about [this patch](https://github.com/KhronosGroup/MoltenVK/files/3082153/fix-shared-buffer-view.diff.txt)?

[2019-04-15 21:50] mbarriault commented on #567
I'm fairly confident (via stepping through code) that I have this issue fixed, the loads and stores happening appropriately across multiple draw calls, but I'm still getting the flickering rendering with indirect tessellated rendering. I'll need to investigate more but I'm pondering if there might actually be two issues going on here.

[2019-04-16 05:47] pizuz commented on #573
This one works.

[2019-04-17 03:17] freesig commented on #573
I'm also getting a seg fault when closing a moltenvk application.
It's happening when the `~MVKSurface` destructor is called.
[code]

[2019-04-17 09:18] mbarriault commented on #567
I'm still continuing my investigation to solve the flickering issue before issuing a pull request, but a thought occurred this morning. Is there any reason why an `MTLFence` couldn't be used instead of ending/restarting command encoders in each draw call? Each of the command encoder types have methods explicitly for synchronizing with other command encoders. We'd probably still need ending/restart

[2019-04-18 19:09] #567 closed

[2019-04-19 18:33] oscarbg commented on #533
Hi,
not same bug.. but similarly interested on new Vulkan support on Android emulator on MacOS..
In my case I'm interested on running Google GL2 NDK sample through new ANGLE layer in Android Q (translates GLES 2.0 calls to Vulkan)..
I'm testing with Emulator 29.0.3.. seems by default uses Swiftshader CPU Vulkan driver..
but going to  android/sdk/emulator/lib64/vulkan I do:

so I force using Molten

[2019-04-19 18:39] cdavis5e commented on #533
No, because Metal doesn't support that format on desktop. I filed rdar://46573933 to ask for this support.

[2019-04-19 18:57] oscarbg commented on #533
thanks for filing a bug report to Apple @cdavis5e !

[2019-04-21 11:50] mbarriault commented on #568
Resolved by #576.

[2019-04-21 11:50] #568 closed

[2019-04-22 11:35] HoshiYamazaki commented on #203
Hey, I know this is not place to directly ask about it, but maybe somebody will help.
I am trying to compile Wine from GIT with Vulkan & MoltenVK, and everything seems to working fine (I copied libraries (dylibs) to /usr/local/lib), configure see it, and everything wents smoothly until I not do build (make) under Xcode -> I get this error:
`:-1: po.c:31:10: fatal error: 'gettext-po.h' file not fou

[2019-04-22 15:12] HoshiYamazaki commented on #203
I compiled Wine with this script in Xcode:

[code]

But MoltenVK seems to be not working, and there is no:
`checking for -lMoltenVK... <SOMETHING>`
Prompt, so I don't know if MoltenVK got compiled into Wine. Vulkan of course is compiled because I got this line in build log:
[code]

[2019-04-24 18:17] danginsburg opened #579 "MTLFeatureSet_iOS_GPUFamily5_v1 layeredRendering causes corruption"
I'm seeing corruption on MTLFeatureSet_iOS_GPUFamily5_v1 such as the iPhone XR.  I've narrowed it down to the fact that if I disable layeredRendering in MVKDevice.mm the problem goes away:

[code]

As far as I can tell from the Metal GPU Frame Debugger, even though my vertex shader does not output [[render_target_array_index]] and my framebuffer was created with VkFramebufferCreateInfo.layers = 1,

[2019-04-24 19:04] oscarbg opened #580 "No Man's Sky Vulkan version fails to run.."
Hi just quick test..
first it complains with a message box about lack of Vulkan 1.1 driver.. but it allows to run..
I'm running with old Wine 3.18 build with Vulkan support.. I read about Wine 4.5 or 4.6 having complete support for Vulkan 1.1 entrypoints altough MoltenVK would report Vulkan 1.0 support right?
first I had a MoltenVK 1.0.32 version (VK1.0.97) debug version installed so closing warni

[2019-04-26 05:58] HoshiYamazaki commented on #580
Sorry for omitting your issue, but can you tell me how you get MoltenVK/Vulkan working on Wine?
I tried to compile it:
https://github.com/KhronosGroup/MoltenVK/issues/203
And it doesn't seem to work. It does not even print `-lMoltenVK check` line while doing configure.

[2019-04-26 17:04] HongkunWang opened #581 "Frame rate performance is clamped by 30 on macOS"
I'm testing few of my game prototypes on macOS and iOS and noticed that the frame rate on macOS seems to be unable to break 30/second. While on the iOS side, it gives reasonable frame rate from ~40 to ~80 frame/second on difference iOS devices, like iPhone 6, 6 plus, 8, iPad 5th.

I tried different solutions at the following parts:
(1) The Swapchain present mode, I tried the following modes:
[code

[2019-04-26 18:14] danginsburg commented on #581
Does setting this change anything? https://github.com/KhronosGroup/MoltenVK/blob/fc1ce42a37acbf62e64793cec7bb5a5721d667ef/MoltenVK/MoltenVK/API/vk_mvk_moltenvk.h#L256

I've found that Metal on macOS limits the update rate to vsync, although if I recall it can be worked around in fullscreen with the direct presentation method.  It's also possible your synchronization method is inserting a GPU bubbl

[2019-04-26 18:15] danginsburg commented on #581
Oh, another thing: make sure you are rendering on your discrete GPU on the laptop display as a first test.

[2019-04-26 23:40] HongkunWang commented on #581
Thanks, I'll give it a try to see the result very soon.
By the way, `VkBool32 presentWithCommandBuffer` is a member of struct `MVKConfiguration`, how can I get that struct instance? Is there a global instance of that?

As for synchronization, I did use `vkWaitForFences()` first, but it gave me "screen-tearing" effect, means the next fame rendering messes up the previous frame rendering, which mean

[2019-04-27 04:19] HongkunWang commented on #581
I tried the following code:
[code]
However, I got a linking error saying that `vkGetMoltenVKConfigurationMVK` is an `undefined symbol`. I can not figure the reason. I do not link to MoltenVK static library since I use dynamic library libMoltenVK.dylib, so I have to manually get the function pointer from that dylib, which takes more time.

However, I have proven that the frame rate clamping is due

[2019-04-27 04:45] HongkunWang commented on #581
Hi,
I made my code `mvkConfig.presentWithCommandBuffer = false;` working, but it does not have any effect. The frame rate is still clamped to either 30 or 60, depends on where the macOS application runs, on built-in display or external display.

[2019-04-27 05:09] KenThomases commented on #581
Could your Metal view/layer be compositing with other windows or views/layers? Does it have anything in front of it (even shadows from windows or the Dock nearby)? Is it transparent, such that stuff behind can show through? Are you overriding your view to return true from `isOpaque`? Have you set the `opaque` (Objective-C) or `isOpaque` (Swift) property on the Metal layer, if you're creating it yo

[2019-04-27 15:08] aerofly commented on #581
Hello there,
one thing to keep in mind on Mac OS is the fact that if you use CVDisplayLink for rendering you have an automatic VSYNC already enabled, at least that were our findings. And for some reason this did interfere in certain cases with VK_PRESENT_MODE_FIFO_KHR as in some cases we saw tearing, even though we had a stable frame rate!?

So the way we do it, instead of creating a CVDisplayLink

[2019-04-27 20:04] HoshiYamazaki commented on #580
That was my fault, I forgot that I'm building 64bit wine and I have wine64 binary, I don't know how to compile it with 32bit support so I will throw it away for while.

[2019-04-27 20:05] HoshiYamazaki commented on #203
My fault, wine64 binary was compiled not wine.
Still if somebody want to configure xCode my script are fine so.

[2019-04-28 03:06] HongkunWang commented on #581
Thanks for all your helpful suggestions! I have to say that I do not have thorough understanding on macOS display / layer / animation, but I'll try to read related docs and modify my code and let you guys know the result.
As for animation, I use old-style "Run loop Timer" (CFRunLoopTimerCreate()) to generate animation since I think run loop timer can be more light-weight than CVDisplayLink.

**One

[2019-04-28 03:12] KenThomases commented on #581
Those diagnostic features are enabled by Xcode based on the settings of the Run scheme. You can change those settings using Product > Scheme > Edit Scheme. Those diagnostics features are only enabled if you run your app from Xcode. It's not built into your app, it's due to the environment that Xcode establishes for running your app. If you (or anybody else) runs your app outside of Xcode, those wo

[2019-04-28 03:21] HongkunWang commented on #581
So it means there is no concern on the performance for the final product. :-) Thanks Ken!

[2019-04-28 03:22] Gcenx commented on #580
Only wine64 can have Vulkan support on macOS as Metal is a 64Bit only API so the current 32bit wine builds are unable to make use of Vulkan by extension.

[2019-04-28 08:52] TravisWhitaker opened #582 "Package for Nix"
[Nix](https://nixos.org/nix/) is a declarative package manager emphasizing reproducibility with good support for macOS. I'd like to use Nix to build and distribute macOS Nix packages that use MoltenVK. Naturally this will require a MoltenVK Nix package.

Doing this will require MoltenVK to be built quite differently than it is right now. It's difficult to get `xcodebuild` to play nicely in Nix's s

[2019-04-28 10:09] ioquatix commented on #582
I gave up and distribute it as a binary package.

[2019-04-28 10:10] ioquatix commented on #582
https://github.com/kurocha/vulkan-sdk-darwin/tree/master/lib/osx is the static library I use in teapot.

[2019-04-29 12:31] cesss opened #583 "Updating the Vulkan samples to new MoltenVK versions?"
Hi!

I'm completely new to Vulkan (although an old time OpenGL coder) and, in order to get a very practical introduction, I went to the Sascha Willems samples. However, I found that the xcode/examples.h file seems outdated (doesn't the current MoltenVK support things that are listed at that file as unsupported, such as Compute demos?). Moreover, that file is old, so maybe there have been new sampl

[2019-04-29 14:47] zstuartp opened #584 "Vulkan SDK 1.1.106.0 - Segmentation fault from vkDestroySwapchainKHR"
I encounter a segmentation fault when destroying a swap chain using `vkDestroySwapchainKHR`.  This issue does not seem to occur in SDK versions 1.1.101 and prior.

Stack trace:
<pre>
<code>
* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0x18)
  * frame #0: 0x00007fff707eb69d libobjc.A.dylib`objc_msgSend + 29
    frame #1: 0x0000000107075d59 libMoltenVK.

[2019-04-29 17:26] cdavis5e commented on #584
I strongly suspect this is my fault, and has to do with #557.

Does [this change](https://github.com/KhronosGroup/MoltenVK/files/3128462/fix-swapchain-crash.diff.txt) help?

[2019-04-29 18:19] zstuartp commented on #584
Thank you for your response. I'll see if this fixes my issue when I get a chance later today.

[2019-04-30 00:00] zstuartp commented on #584
This patch does not appear to fix my issue.

[2019-04-30 06:53] mbarriault commented on #584
Are you running 10.14.4? I see a crash myself occasionally on exit when it tries to release the CAMetalLayer, and I sometimes see the same crash on work app (Qt + OpenGL). I've found at least one other project reporting it but I can't find the link anymore.

[2019-04-30 10:53] zstuartp commented on #584
Yes, I am using 10.14.4. I am also using GLFW 3.3 to create the context.

[2019-04-30 12:24] aerofly commented on #584
I can confirm we observed the same issue, e.g. a crash in MVKSwapchain::~MVKSwapchain when our App exits or if we restart the Vulkan Renderer in certain cases.

We are running Mac OS 10.14.4 and 10.13 with various graphic card configurations.

[2019-04-30 15:21] billhollings commented on #584
I am not able to trigger this in any of the apps I have access to.

The MoltenVK Cube demo repeatedly triggers the destruction of the swapchain as the window is manually resized...without triggering an issue.

If anyone can point to an accessible app that triggers this...it would be helpful.

[2019-04-30 19:33] #454 closed

[2019-04-30 22:37] seivan opened #586 "Is it possible Converting glsl to spirv at runtime on arm devices (iOS)"
Using Shaderc right now for the glsl to spirv conversion, but since the lib doesn’t compile for iOS, I have to convert at build time.

I was wondering if the current tools here can compile and run on an iOS device so I get hot code reloading working.

I know Spirv Cross runs fine on iOS (thanks for that btw)

[2019-05-01 00:14] freesig commented on #584
I can confirm we are getting this with all [vulkano](https://github.com/vulkano-rs/vulkano) applications on Mac OS 10.14.4
Running the examples will cause this crash.

[2019-05-01 14:06] clouds56 commented on #573
same here,

[code]

after call to `VkCreateMacOSSurfaceMVK`, I let my program return and it crashes.

[2019-05-01 14:39] cdavis5e commented on #573
The other crash is being looked at in #584.

[2019-05-01 20:39] cdavis5e commented on #438
I'm not sure `MTLFence` *can* be used to implement `VkSemaphore`. According to the Vulkan spec:

But according to [an Apple engineer on Apple's Metal forum](https://forums.developer.apple.com/thread/108416#334883):

So this can't be implemented properly without `MTLEvent`. I think we want to use `MTLEvent` anyway: this will make it easier to support external semaphores using `MTLSharedEvent` the w

[2019-05-01 20:54] billhollings commented on #586
@seivan

The `MoltenVKGLSLToSPIRVConverter` library in MoltenVK runs on both macOS and iOS. It uses `glslang` internally.

Similarly the `MoltenVKSPIRVToMSLConverter` library runs on both macOS and iOS, and uses `SPIRV-Cross` internally.

The Hologram demo in MoltenVK is an example of linking to the  `MoltenVKGLSLToSPIRVConverter` library to convert GLSL at runtime.

Finally...after running `fetch

[2019-05-01 20:55] cdavis5e commented on #438
The example given in the [Metal Programming Guide](https://developer.apple.com/library/archive/documentation/Miscellaneous/Conceptual/MetalProgrammingGuide/ResourceHeaps/ResourceHeaps.html#//apple_ref/doc/uid/TP40014221-CH16-SW6) seems to corroborate Omachi's observation:

[2019-05-01 20:57] cdavis5e commented on #438
On the other hand, this example indicates that it *might* be possible--*if* we can control when command buffers are committed to the queue.

[2019-05-01 21:13] billhollings commented on #438
@cdavis5e  Thanks for the research.

Hmmm...

The forced scheduling of command buffers using scheduling callbacks in that example seems to imply that there is a single physical queue underpinning the two `MTLCommandQueues`...otherwise simply scheduling one command buffer after the other wouldn't ensure they run that way across two separate queues. I wonder if we should rely on the assumption of a

[2019-05-01 21:15] #573 closed

[2019-05-01 21:23] cesss commented on #583
Thanks a lot!! Regarding the convenience to be able to build all samples at once, I agree that on some scenarios maybe one would choose to build just one sample, but I think that the first time you get in contact with Vulkan on the Mac, you want to see everything that MoltenVK can do, so getting all the samples is usually what you want. And, anyway, even if you just wanted to build sample by sampl

[2019-05-02 03:27] pizuz commented on #584
With Dolphin you can provoke a [segfault] (https://github.com/KhronosGroup/MoltenVK/files/3083175/crash2.zip) on closing the main render window. This didn‘t happen with the previous version of MoltenVK.

[2019-05-02 03:39] billhollings commented on #11
PR #588 adds support for `VK_EXT_debug_report`, which is the prerequisite for `VK_EXT_debug_marker`.

[2019-05-02 11:19] seivan commented on #586
@billhollings Wow, that's better than I thought - thank you for replying and sorry for askins questions in the issue tracker!

I can't seem to find the `game.h` used in the hologram example https://github.com/KhronosGroup/MoltenVK/blob/master/Demos/LunarG-VulkanSamples/Hologram/ShellMVK.cpp - I assume that's where the actual runtime loading of shaders happens.

Another question, could you point me

[2019-05-02 11:39] seivan commented on #586
Just want to point out when building glslang on its own using [cmake](`https://github.com/KhronosGroup/glslang/blob/master/CMakeLists.txt`) I only get libs for macOS.
It doesn't seem to support iOS on its own - is `MoltenVKGLSLToSPIRVConverter` doing something to alter the build process?

[2019-05-02 18:18] billhollings commented on #586
`MoltenVKGLSLToSPIRVConverter` runs it's own Xcode build process for `glslang`...specifically to support both macOS and iOS.

[2019-05-02 22:34] ch45er opened #589 "Large texel buffer addressing seems broken"
Hi!

I am facing an issue with large texel buffers. By large I mean those with length exceeding Metal 1D texture size limit of 16384 texels and causing MVK to use a 2D texture for backing their storage. Below I will be referring to this commit changes in MVK: e959b9d9a6a013a751f1110b831ebf37a917c5e2.

Heres the setup:
1) I have a uint16 texel buffer. The buffer memory resevation is for up to ~117.

[2019-05-03 02:16] cjay commented on #581
I'm not sure if this is related, but `vkGetPhysicalDeviceSurfacePresentModesKHR` lists only `VK_PRESENT_MODE_FIFO_KHR` and `VK_PRESENT_MODE_IMMEDIATE_KHR` in my code that is derived from vulkan-tutorial.com. Is `VK_PRESENT_MODE_MAILBOX_KHR` not supported by MoltenVk in general? It probably fell back to a default when OP tried to use `VK_PRESENT_MODE_MAILBOX_KHR`.

[2019-05-03 02:45] billhollings commented on #581
@cjay

`VK_PRESENT_MODE_MAILBOX_KHR` is not supported on MoltenVK, because the internal single-entry queue required to support that capability is not available through Metal.

[2019-05-05 14:58] DiligentGraphics commented on #535
The problem is no longer reproducible in 1.1.106.0

[2019-05-05 14:58] #535 closed

[2019-05-05 15:49] DiligentGraphics opened #593 "VK_FORMAT_D24_UNORM_S8_UINT is reported as unsupported"
Creating an image with `VK_FORMAT_D24_UNORM_S8_UINT` format generates a lot of validation layer messages. `vkGetPhysicalDeviceFormatProperties` reports that all feature flags for all tiling options are zero. Despite the error messages, the image is created successfully and works fine, so it looks like the issue is actually in format feature reporting.
H/W: MacBook PRO with Iris6100
SDK: 1.1.106.0

[2019-05-06 19:18] ovvldc commented on #203
The list of limitations in https://github.com/KhronosGroup/MoltenVK/blob/master/Docs/MoltenVK_Runtime_UserGuide.md#limitations has become considerably shorter, for which all the developers deserve a lot of credit. So it seems that the list of missing 'things' in the first post of this thread is no longer up to date. However, it is very unclear to me what is missing now. DXVK also developed in the

[2019-05-06 19:22] cdavis5e commented on #203
[This](https://github.com/KhronosGroup/MoltenVK/issues/203#issuecomment-452791488) is the list of things yet to be done to fully support DXVK.

[2019-05-07 14:17] hukasu commented on #584
On a code I wrote, it alternates between segfault'ing on vkDestroySwapchainKHR and vkDestroySurfaceKHR, and on rare occasions it doesn't segfault at all

Hardware: 2015 Macbook Pro, 13", i5, 8GB
macOS version: 10.14.4
Vulkan context: GLFW 3.3

[2019-05-07 16:26] #438 closed

[2019-05-07 16:31] mbarriault commented on #192
It looks like events might be able to implemented with a combination of MTLSharedEvent (for CPU triggering) and MTLEvent (for stage synchronization).

[2019-05-07 18:23] cdavis5e commented on #593
I suspect this is because your hardware does not in fact support `MTLPixelFormatDepth24Unorm_Stencil8`. Or at least, the `isDepth24Stencil8PixelFormatSupported` property on the `MTLDevice` is returning `NO`. So when you query its format properties, it correctly reports that the format isn't supported for anything.

But, if you were to actually use the format to create an image, MoltenVK for some r

[2019-05-07 19:40] danginsburg commented on #593
Yeah, a properly written Vulkan app should be able to handle D24S8 not being supported, if they have ever run on AMD hardware.

[2019-05-07 19:50] DiligentGraphics commented on #593
@danginsburg This issue is not about Vulkan app not being able to handle unsupported d24s8 format, but rather Vulkan implementation reporting it as unsupported and still creating an image successfully.

@cdavis5e Looks like this is exactly what's going on. In fact on iOS there is a message about format being replaced. I guess similar message on Mac would've eliminated the confusion. Thanks for cla

[2019-05-07 21:01] billhollings commented on #593
I'm re-opening this for further discussion and exploration.

The backstory on this is that the concept of depth format substitution originated in the early days of MoltenVK when Metal had a very limited set of supported depth formats. All Vulkan apps at the time were, of course, originating on Vulkan platforms without regard for Metal...and so to get any apps running at all required either to chan

[2019-05-08 02:11] freesig commented on #584
I'm seeing similar behavior to @hukasu.
I also will sometimes get a seg fault when resizing the window because it recreates the pipeline which recreates the swapchain and calls `vkDestroySwapchainKHR`

[2019-05-08 02:13] DiligentGraphics commented on #593
@billhollings I actually appreciate MoltenVK transparently replacing u24s8 with f32s8 and making the app work with lots of validation errors rather than crash. With depth formats I guess the format replacement can be done transparently to the app in most cases.

My only remaining concern here is that MoltenVK on Mac does not tell the app that it replaces the format under the hood, which is the sou

[2019-05-08 12:34] danginsburg opened #594 "Dota: [MTLRenderPipelineDescriptorInternal validateWithDevice:]:2697: failed assertion `Pipeline rasterSampleCount (8) is greater than 1 but the pipeline vertex function is writing to render_target_array_index.'"
We shipped an update to Dota 2 last night and on some Macs (Macbook Pro 2018, Macbook Pro 2013 GT 650M) we are getting a crash when you click on a user profile.  Before the crash there is a Metal error:

[MTLRenderPipelineDescriptorInternal validateWithDevice:]:2697: failed assertion `Pipeline rasterSampleCount (8) is greater than 1 but the pipeline vertex function is writing to render_target_arra

[2019-05-08 15:15] billhollings commented on #593
@DiligentGraphics Thanks for your very helpful feedback.

Thanks...this will just be an oversight...and we should fix it. As @cdavis5e indicates...the `VK_FORMAT_D24_UNORM_S8_UINT`, specifically, has to be handled slightly differently than all other formats because it is optional depending on the GPU device itself, rather than the supported OS/GPU  feature set. So the error language is probably ju

[2019-05-08 15:35] billhollings commented on #594
I'll have a look at this (and #579) as soon as I can today.

[2019-05-08 15:38] danginsburg commented on #594
Thanks.  I think #579 is stalled because I wasn't able to provide a repro.  Unfortunately, we've made some changes and the bug no longer repros so I couldn't get a Metal frame capture of it.  This one is simple to repro though, should repro with public Dota 2.

[2019-05-08 15:42] DiligentGraphics commented on #593
@billhollings

This is the full output that I get when creating D24S8 image:

[code]

What I am saying is that messages about `vkCmdClearDepthStencilImage` and `vkCreateImageView` refer to the original format that has been replaced under the hood with the one that works fine and should likely not been displayed.

The following output would tell the full story:

[code]

[2019-05-08 16:29] danginsburg commented on #593
If I'm understanding what you are requesting, I don't think it's possible.  The validation layers aren't aware of MoltenVK's substitution, correct?

Also, what's being done is still technically a violation of the spec.  The application should be querying for format support and only selecting D24S8 if it's supported.

[2019-05-08 16:42] DiligentGraphics commented on #593
I am not really requesting this and understand that it may not be feasible. Like I said, a message from MoltenVK about format replacement will make everything clear and fully resolve the issue.

[2019-05-09 06:53] leonsenft commented on #584
I ran into this issue working through the Vulkan tutorial. Same hardware and software versions described in https://github.com/KhronosGroup/MoltenVK/issues/584#issuecomment-490099029.

The code for this step can be used to reproduce the segfault: https://vulkan-tutorial.com/code/06_swap_chain_creation.cpp.

[2019-05-09 18:01] billhollings opened #597 "Investigate Metal pipeline barriers on compute pipelines"
Notes from PR #596:

[2019-05-09 18:59] billhollings commented on #579
Duplicate of #594

[2019-05-09 19:27] billhollings commented on #594
@danginsburg I'm not sure if I understand how to repro this issue:

Do you mean this (for me _**?**_ icon)?

![Screen Shot 2019-05-09 at 3 02 36 PM](https://user-images.githubusercontent.com/356402/57479478-7f0aeb80-726b-11e9-8f89-782c539b9e5c.jpg)

Clicking it seems to safely take me to my profile. Is this the button you mean? Do I need to do anything further? Or is this device-specific?

I've tr

[2019-05-09 21:16] danginsburg commented on #594
Yeah, clicking that should take you to a screen with a menu PROFILE / STATS / TEAMMATES / TROPHIES / TICKETS.  It ran fine for me on AMD D500 macOS 10.14.4 but I got the crash repro'd on my Macbook Pro (Mid 2012) NV GT 650M running macOS 10.14.

[2019-05-09 21:23] cdavis5e commented on #594
I wonder if that card doesn't support a 2D multisample array texture as a render target.

[2019-05-09 22:01] billhollings commented on #594
@danginsburg Ah. Okay. Thanks for the info. I'm on AMD. I'll have to break out my older 2014 MacBook, update it to 10.14, etc. It has the NV GPU (and I think it's the 650).

[2019-05-11 03:25] JJoosten opened #601 "MSL: use of undeclared identifier 'nonuniformEXT' with GLSL texture2D arrays"
When using nonuniformEXT in combination with a texture2D array, the following error is thrown "error: use of undeclared identifier 'nonuniformEXT'". Note that I am using #extension GL_EXT_nonuniform_qualifier : require in GLSL.

GLSL
[code]

MSL:
[code]

[2019-05-11 03:37] #601 closed

[2019-05-12 21:38] billhollings commented on #594
I've reproduced the error on my MacBook 2014 with NV GPU. Looking into the issue.

[2019-05-13 12:20] danginsburg commented on #556
So it turns out I was optimistic in thinking we didn't need this feature.  Perhaps having per-sampler mode is too onerous on MoltenVK, but would it be possible to be able to configure either a global a per-pipeline sampler comparison mode and use the SPIRV-Cross feature to generate code with the comparison sampler built in?  If not, we can't do shadows on A7/A8/A8X GPU and that is something we wan

[2019-05-13 23:57] billhollings commented on #594
@danginsburg

How does disabling `MVKPhysicalDeviceMetalFeatures::layeredRendering` fix the problem for you? It's hard to see how the internal MoltenVK changes when that is disabled would help if the app continued to expect it to work.

Do you read that info out of MoltenVK and modify app behaviour? If so...do you pull it from `MVKPhysicalDeviceMetalFeatures::layeredRendering` through the MoltenVK

[2019-05-14 04:46] billhollings commented on #594
Can I get a clarification for what `layeredRendering` is being used for?

The SPIR-V spec indicates that the `Layer` [built-in](https://www.khronos.org/registry/spir-v/specs/1.0/SPIRV.html#_a_id_builtin_a_builtin) (which triggers `render_target_array_index` in MSL) is to support Geometry shading.

Since Geometry shading is not supported in MoltenVK or Metal...under what conditions are we generatin

[2019-05-14 04:48] billhollings commented on #594
I've come across this in the [Metal documentation](https://developer.apple.com/documentation/metal/mtlrenderpassdescriptor/1437975-rendertargetarraylength?language=objc):

which would indicate that we should expect to encounter that validation error in all devices, regardless of `MTLFeatureSet`...and the logic I describe above for `MVKPhysicalDeviceMetalFeatures::multisampledLayeredRendering` shou

[2019-05-14 06:23] mbarriault commented on #594
As an aside, as I recall reading AMD has an extension that permits `Layer` to be used in vertex shaders as Metal does. There might be value in supporting it in MoltenVK.

More on topic, it feels like the kind of thing other implementations would just support against the spec, it wouldn't shock me to see applications relying on it without using a geometry shader.

[2019-05-14 12:01] aerofly opened #602 "Metal error: Execution of the command buffer was aborted..."
With one of the last updates to MoltenVK we now observe random fatal crashes with our Apps on Mac OS 10.14, e.g. we get the following error:

`Execution of the command buffer was aborted due to an error during execution. Ignored (for causing prior/excessive GPU errors) (IOAF code 4)`

This error is new and shows up since one of the last updates that were made to MoltenVK. When using a previous ver

[2019-05-14 13:07] danginsburg commented on #594
@billhollings Just set layeredRendering to false inside of MoltenVK and it doesn't crash, correct?  That is all I'm doing, here's my patch:

[code]

I was hoping you would figure out why assuming you were able to repro it.  My guess was that setting [[render_target_array_index]] in the MoltenVK-built in clear shader was the problem.

[2019-05-14 13:10] danginsburg commented on #594
I'm assuming it's this code that's problematic:

https://github.com/KhronosGroup/MoltenVK/blob/5dcc6d7501118b482a0f4214fb446635a2feb9aa/MoltenVK/MoltenVK/Commands/MVKCommandResourceFactory.mm#L184

[2019-05-14 15:07] cdavis5e commented on #594
We already support the `VK_EXT_shader_viewport_index_layer` extension, which adds support for the `SPV_EXT_shader_viewport_index_layer` extension which does exactly as you describe.

[2019-05-14 15:10] mbarriault commented on #594
Turns out I had neglected to update the checkout on my work computer when looking for support. It was quite out of date. My bad!

[2019-05-14 15:12] cdavis5e commented on #602
I suspect this is caused by #591.

Prior to this error, are you seeing command buffers time out? You're not waiting for a semaphore before signaling it, are you?

[2019-05-14 18:02] billhollings commented on #602
FWIW...I am seeing this also occur regularly on an older device (MacBook 2014 NV GPU)...but not on a later device (MacBook Pro 2017 AMD GPU).

[2019-05-15 10:36] aerofly commented on #602
@cdavis5e : I do not see any command buffer timeout, nor any other Vulkan errors when this error is reported. When we submit a command buffer using vkQueueSubmit we also add a semaphore to wait on. So I 'think' we are doing everything correctly. What do I need to modify in MoltenVK to restore the old behaviour, so I can verify it's the new method you suggested in #591?

I can trigger this crash re

[2019-05-15 10:54] aerofly commented on #602
Just a quick note: When I add vkQueueWaitIdle per frame or vkDeviceWaitIdle everything is fine, of course at a much reduced frame rate. So it's either something wrong on our side or in the latest MoltenVK implementation.
We pretty much follow the rules on how to synchronize command buffers and the swap chain images, so I have no idea where to look?

[2019-05-15 13:46] cdavis5e commented on #602
Set `MVKPhysicalDeviceMetalFeatures::events` to `false`. Or rather, stop setting it to `true`.

For iOS:
https://github.com/KhronosGroup/MoltenVK/blob/5dcc6d7501118b482a0f4214fb446635a2feb9aa/MoltenVK/MoltenVK/GPUObjects/MVKDevice.mm#L739

For macOS:
https://github.com/KhronosGroup/MoltenVK/blob/5dcc6d7501118b482a0f4214fb446635a2feb9aa/MoltenVK/MoltenVK/GPUObjects/MVKDevice.mm#L796

[2019-05-15 13:49] cdavis5e commented on #602
I mean, are you seeing any Metal errors being reported by the command buffer? You can add some diagnostic code, like in
[this diff](https://github.com/KhronosGroup/MoltenVK/files/3182784/report-cmdbuff-errs.diff.txt), to do that.

That particular error you cited occurs when command buffers fail one too many times, so the system revokes access to the device.

[2019-05-15 16:37] billhollings commented on #579
No longer considered a duplicate of #594. This is a different issue and was not resolved by #603.

[2019-05-15 20:46] billhollings commented on #594
@danginsburg PR #603 should fix this. Please retest and close this if it does.

[2019-05-15 20:46] billhollings commented on #579
@danginsburg PR #604 should fix this. Please retest and close this if it does.

[2019-05-15 21:06] billhollings commented on #556
@danginsburg

Do you mean pass sampler parameters into SPRIVCross so that it could generate a fixed sampler in the MSL code?

How would you envision the app would pass the parameters to MoltenVK? Are you thinking we would identify a standard `VkSampler` and attach it to the pipeline somehow?

To allow it to be a bit more dynamic...perhaps we could make use of shader specialization to pass the samp

[2019-05-15 21:26] danginsburg commented on #556
Well, for our particular use case we only ever need a single depth comparison state for the entirety of our application.  So I'm flexible on how this could work.  Spit balling it could be:

* Some global MVK configuration state where any time a depth comparison sampler is used in a shader it uses that global state in place of it on A7/A8/A8X GPUs
* Something hanging off the VkGraphicsPipelineCreat

[2019-05-16 12:58] aerofly commented on #602
No, I do not see any Metal errors being reported. I even added an output each time the completion handler is called to see the function is properly called, but no error is received there. The first output I get is an error like this:
`Execution of the command buffer was aborted due to an error during execution. Caused GPU Timeout Error (IOAF code 2)`
When I set
`_metalFeatures.events = true;`
our

[2019-05-16 16:35] cdavis5e commented on #602
This is what I was looking for.

What's happening I suspect is that the semaphore wait value is being incremented before the semaphore signal is scheduled. This means that the wait for the semaphore never wakes up, leading to a timeout. When this happens too many times, Metal revokes access to the device.

I need to figure out why this is happening, because I've been seeing it myself.

[2019-05-16 17:21] cdavis5e commented on #602
I think I know why this is happening.

Does enabling `prefillMetalCommandBuffers` stop these errors?

[2019-05-16 17:25] aerofly commented on #602
As mentioned in my previous posting above, the parameter `prefillMetalCommandBuffers` has an effect here.

I can run this test in more detail tomorrow, but I did indeed observe that setting `prefillMetalCommandBuffers` to true reduced the crashes a lot, especially when setting it to true it no longer crashes our app when running directly from XCode. But it still shows up in random scenarios when e

[2019-05-16 18:15] cdavis5e commented on #602
Are you sure you're not confusing it with `presentWithCommandBuffer`?

[2019-05-17 07:29] aerofly commented on #602
Ok, I just ran my tests again. With

[code]

I can run our App from Xcode and I do not observe any crashes. When running the App from outside Xcode I still get crashes, but the App runs a little longer before doing so.

When setting

[code]

our App crashes quickly after the App starts and if running from Xcode.

So to summarise, `prefillMetalCommandBuffers` has an effect here.

[2019-05-17 13:18] stack commented on #584
I can confirm this as well going through the Vulkan Tutorial. It also occurs for me during the swap chain resize cleanup as well.

[2019-05-20 05:18] freesig commented on #584
It looks like the `~MVKSwapchain()` is calling itself recursively but maybe that's expected.
![image](https://user-images.githubusercontent.com/7286454/57997790-e4839580-7b11-11e9-800d-0e55687c6a1e.png)

[This](https://github.com/KhronosGroup/MoltenVK/blob/ffa9ca1b3c70026ef4389f6a1ecdf65a3fdcfc64/MoltenVK/MoltenVK/GPUObjects/MVKSwapchain.mm#L291) is the actual line that throws the segfault.

[2019-05-20 15:08] glowcoil commented on #584
I am experiencing a similar problem to this. Some percentage of the time, when I call vkDestroySurfaceKHR on app exit, I get a segfault. ![image](https://user-images.githubusercontent.com/131388/58031948-24815300-7ae7-11e9-9d3a-c16f9a555d8e.png)

[2019-05-20 20:30] danginsburg commented on #579
Confirmed fix, closing.

[2019-05-20 20:30] #579 closed

[2019-05-20 20:30] billhollings commented on #584
PR #606 fixes this.

This fix is the same simple fix suggested by @cdavis5e above:

I've dug into it further...and that fix definitely fixes the test case suggested by @leonsenft :

However, that fix was indicated as not a complete solution by @zstuartp :

Can everyone please retest with latest code and confirm?

@zstuartp Can you try this again with the latest code...and re-confirm whether you ar

[2019-05-20 20:30] danginsburg commented on #594
Confirmed fix, closing.

[2019-05-20 20:30] #594 closed

[2019-05-20 21:00] billhollings commented on #556
@danginsburg Your `VkGraphicsPipelineCreateInfo.pNext` idea might solve this in a Vulkan-friendly way. I'll look into it.

[2019-05-20 21:06] pizuz commented on #584
I can confirm that this fixes the segfault in Dolphin.

[2019-05-20 22:13] freesig commented on #584
Yep this is fixed for me on latest master.

[2019-05-21 01:13] oscarbg commented on #203
@cdavis5e slightly unrelated in this thread, but as we don't have a VKD3D thread, just pointing that VKD3D has added support (& requirement?) for:
VK_KHR_draw_indirect_count
for "Rage 2" (uses Vulkan!) game:
https://source.winehq.org/git/vkd3d.git/commit/ca744ae57918c138be9ed12ea96403f07e4c0620
https://source.winehq.org/git/vkd3d.git/commit/f1076bb15333a7177e7b5406121a77601c8dfb54
Don't know how m

[2019-05-21 07:37] ovvldc commented on #203
I don't know how much work any new feature is, but cull distance seems to me the most obvious priority. If I understand correctly, no DX9-12 game will work without that.

[2019-05-21 16:51] zstuartp commented on #584
PR #606 fixes the issue for me. This isn't the exact same diff @cdavis5e originally posted, which may explain why it didn't work for me originally. Thank you for fixing this issue.

[2019-05-21 16:51] #584 closed

[2019-05-22 10:15] aerofly commented on #602
Any update on this issue?

[2019-05-22 14:00] doitsujin commented on #203
Cull distances are very rarely used and support for them can probably be faked without causing too many issues; they are however part of the D3D11 core feature set.

Geometry shaders on the other hand are fairly common, and transform feedback too.

[2019-05-25 02:23] jamesdolan opened #607 "Inconsistent Header Search Paths"
MoltenVK seems to have fairly inconsistent header search path policies, and as a result things change from time to time which makes it pretty tricky to keep things working in other build systems.

1) Some code assumes third party repositories are under the Externals directory, which isn't the case in larger projects where those libraries are common dependencies outside of MoltenVK (e.g. we have to

[2019-05-25 20:53] billhollings commented on #11
PR #608 implements this extension.

One implementation limitation is the labelling of pipelines. Unfortunately, for some strange reason, the labels of Metal pipelines are readonly, and Metal only allows the label of a pipeline to be set during pipeline creation, via the pipeline descriptor.

I explored potentially delaying the creation of the Metal pipeline to give the app a chance to set the pipe

[2019-05-25 21:32] billhollings commented on #607
@jamesdolan

Would these be solved with a consistent application of the framework references:

    #include <SPIRV-Cross/mvkSpirvCrossRevisionDerived.h>
    #include <SPIRV-Cross/spirv.hpp>
    #include <SPIRV-Cross/spirv_common.hpp>
    #include <SPIRV/GlslangToSpv.h>
    #include <SPIRV/disassemble.h>
    #include <SPIRV/doc.h>
    #include <vulkan/vk_extx_portability_subset.h>

along with the c

[2019-05-25 23:04] oscarbg commented on #203
just wanted to point that since DXVK 1.1, the @cdavis5e MoltenVK simple patch/way of "supporting" DXVK via:
 _features.shaderCullDistance = true;
 _features.geometryShader = true;
 _features.logicOp = true;
isn't enough as DXVK starts using Vulkan events API calls like vkCreateEvent, etc....
of course well know limitation:
from https://github.com/KhronosGroup/MoltenVK/blob/master/Docs/MoltenVK_Run

[2019-05-25 23:33] oscarbg opened #609 "Three minor requests.."
just some comments I found with testing updated MoltenVK with DXVK & Wolfenstein II Vulkan under Wine:

Wolfenstein II with MoltenVK was launching up to in game gameplay altough with glitches a while ago and now don't even launch up to menu..
upon inspection things that have changed since then:
*more VK extensions have been exposed in MoltenVK and Wine also passthrough more of it so **request #1 i

[2019-05-26 00:26] jamesdolan commented on #607
Thanks for the quick response!

So in the case of SPIRV-Cross, having `SPIRV-Cross/` in the include string means the search path is outside of the repository. In the example below it means I would need to add "MyThirdParty/" to the search path, exposing potentially other headers that I don't intend on in a given compilation unit unless I do some sort of extra sandboxing of the project. And more im

[2019-05-26 00:35] jamesdolan commented on #607
as for the vulkan-portability thing, I do actually wish Khronos gave each extension their own directory name as you did, really does seem cleaner!  In my case `Vulkan-Headers/include` and `Vulkan-Portability/include` are just both in the search path. So they are kept separate that way. But it does feel dirty having my compiler search two "vukan" directories when try and include a header.

[2019-05-26 00:48] jamesdolan opened #610 "Make SPIRV-Tools optional?"
Small request related to  #607 for making life easier to integrating into other build systems.

SPIRV-Tools is an extremely complicated project to build due to code-gen scripts, etc. It appears that MoltenVK only uses it for the value `SpvMagicNumber` (which SPIRV-Cross also exposes) and the function`mvk::logSPIRV` (which seems like it could be optional). So, a optional preprocessor macro to enabl

[2019-05-26 02:30] cdavis5e commented on #609
I've already filed rdar://45346278, which was duped to rdar://31389797, so this is a known problem to Apple. I guess I could inform them that Wolfenstein II needs this and won't start up without it.

[2019-05-27 04:03] oscarbg commented on #609
@cdavis5e thanks for info.. another interesting use case you may know of depth bounds test is in dxvk-ags (https://github.com/doitsujin/dxvk-ags) as RE2 game (in DX11 mode at least) use AGS depth bounds extension and dxvk-ags provides a map to Vulkan depth bounds test feature.. so in theory once DXVK is better supported on MacOS that kind of games would also take advantage of.. finally you know al

[2019-05-27 15:14] billhollings commented on #607
I'm not clear about what you are asking for now. Your examples of internal SPIRV-Cross files using same-directory access makes sense within that repo. But I don't see how that translates to the cross-repo access we're discussing.

Are you recommending that _**all**_ header file references be without qualifiers? So my list above would become:

	#include "mvkSpirvCrossRevisionDerived.h"
	#include "s

[2019-05-27 17:34] ch45er commented on #589
Hi, any updates on this?

Got a chance to look into the issue further, and here is what I've found:

When dumping MSL for my compute shader I see the following utility code inserted by MVK:
[code]

And here is what is in the pixel shader code dump:
[code]

It appears that `MVKGraphicsPipeline::initMVKShaderConverterContext` does set
[code]

whereas `MVKComputePipeline` does not, hence the mismatch

[2019-05-27 18:21] BearishSun opened #615 "Potential integer overflow issue"
I'm wondering is this line correct?

https://github.com/KhronosGroup/MoltenVK/blob/6b556a96253de2461629ae8ec7313262bc52c256/MoltenVK/MoltenVK/GPUObjects/MVKBuffer.mm#L198

`_buffer->getByteCount()` returns the size of the buffer (not the underlying memory) while `_mtlBufferOffset` returns the offset into device memory. So if I allocate a buffer of 16 bytes, which is placed in some memory block at

[2019-05-27 19:34] #589 closed

[2019-05-28 01:10] billhollings commented on #615
@BearishSun Thanks for all the research. This should be fixed in PR #617 now. Please retest and close this issue if it works.

[2019-05-28 06:10] BearishSun commented on #615
The issue is resolved, thanks for solving it quickly.

[2019-05-28 06:10] #615 closed

[2019-05-28 09:37] BearishSun commented on #523
Hi. Just want to confirm, if I use MSL that uses argument buffers, it will not work with MoltenVK? If that's the case, any ETA on this feature?

[2019-05-28 13:23] mitchmindtree opened #618 "When to expect the next release (following 1.1.106)?"
We're giving a presentation of a framework that uses MoltenVK under the hood tonight and I was just wondering if we could get a rough estimate on when you are hoping to release the next version? We're particularly interested in this so that we can give users an idea of when the fix for #584 (which is currently fixed on master) will be officially released. Thanks!

[2019-05-28 14:01] billhollings commented on #523
@BearishSun  In what way are you using argument buffers in MSL? Are you supplying your own MSL to MoltenVK directly? Or are you submitting standard SPIR-V per normal Vulkan behaviour that MoltenVK is converting to MSL?

[2019-05-28 14:06] billhollings commented on #618
@mitchmindtree The timing of MoltenVK's official marked releases are connected to the release of the Vulkan SDK. Typically they are on a six-week schedule...but it's best to ask LunarG.

[2019-05-28 14:26] BearishSun commented on #523
I'm supplying my own MSL. Technically I'm using `SPIR-V Cross` that generates the MSL from SPIR-V, with argument buffer support enabled (as I had issues with resource binding slots getting used up when not using argument buffers). It's not critical as I think I can re-work my code to work with the argument buffer approach, but it would be nicer to support them out of the box.

[2019-05-28 15:27] Rastafabisch commented on #203
Update to [my previous report].(https://github.com/KhronosGroup/MoltenVK/issues/203#issuecomment-454683127)

**IT DOES NOT WORK.** (Just so nobody would get to exited.)

The Witcher now starts and displays anything like it should, up to the menu (sequences, movies, etc.). Any options can be customised to your liking without triggering a crash.
Starting a new game the initial sequence is shown incl

[2019-05-28 21:57] billhollings commented on #607
PR #619 applies a consistent policy to references within MoltenVK to the external library headers. All references to external headers now include the framework component instead of relative file path references.

For example:

    #include "../glslang/SPIRV/GlslangToSpv.h"

is now:

    #include <glslang/SPIRV/GlslangToSpv.h>

This represents a compromise between the ability of an external build e

[2019-05-28 21:57] billhollings commented on #610
This is implemented in PR #619, which includes a `MVK_EXCLUDE_SPIRV_TOOLS` build macro that will conditionally compile MoltenVK without reference to SPIRV-Tools code.

These changes are intended to provide the support for custom external build environments requested here. The MoltenVK build environment itself remains unchanged, and will continue to retrieve, build, and link the SPIRV-Tools repo an

[2019-05-28 21:57] #607 closed

[2019-05-28 21:57] #610 closed

[2019-05-28 21:58] #11 closed

[2019-05-29 14:13] #551 closed

[2019-05-29 14:15] billhollings opened #621 "Vulkan SDK release coordination starting June 10"
LunarG is planning the next Vulkan SDK release for the week of June 10.

Final release date has not been set yet...and will depend on planning and testing. Updates will be posted here.

MoltenVK PRs submitted by Fri June 7 will be included. Please notify here if you want to get a PR into this SDK release after that date.

@cdavis5e @HansKristian-Work @jeremyk-lunarg

[2019-05-29 14:16] billhollings commented on #618
See issue #621 for latest SDK schedule.

[2019-05-29 14:16] #618 closed

[2019-05-30 18:22] HindrikStegenga commented on #146
I have dabbled with this stuff and MoltenVK in the past. vkAcquireImageKHR doesn't need to block. You should NOT rely on it for synchronizing your framerate. You should use external fences right before calling vkAcquireNextImageKHR instead. Take the cube example vulkan app and implement syncing with fences similar to that one.

[2019-05-30 20:44] danginsburg opened #625 "Dota 2 GPU Hang with MTLEvent change"
I've been getting GPU hangs on startup in Dota 2 on Macbook Pro (Mid 2012) NV GT 650M on macOS 10.14.5.  I was able to use git bisect and identify that the commit that is causing the hang is b02d354be576fffb4b01501e504fe341473c75e8 "MVKSemaphore: Use MTLEvent for device-side synchronization."

@cdavis5e

[2019-05-30 20:46] cdavis5e commented on #625
This is a known issue. See #602.

[2019-05-30 20:46] #625 closed

[2019-05-30 21:04] danginsburg commented on #602
As mentioned in #625 this issue is also reproducible for me in dota.  If I run dota.sh -vulkan and the initial background image is drawn before the main menu, I almost always see the same command buffer errors as the original reporter and then fence timeouts.  You may be able to use public dota as a place to repro this by dropping libMoltenVK.dylib in its game/bin/osx64 folder.

For now, I'm going

[2019-05-31 06:51] oscarbg commented on #609
Adding another request of similar nature here:
***Overriding V-sync on/off via environment variable**:
seeing code I assume setDisplaySyncEnabledMVK could check some env variable getenv(MVK_VSYNC) and act accordingly..

[2019-05-31 07:17] oscarbg opened #627 "Error using DXVK 1.2.1+Reshade 4.3.0"
Hi,
got to test minimal sample using reshade 4.3.0..
Using DXVK 1.2.1 & Reshader 4.3.0 with d3d11-triangle.exe which tested works on Linux..
also check DXVK 1.2.1+d3d11-triangle works on MacOS with latest Metal..

interesting log seems to be:
[code]

[d3d11-triangle_d3d11.log](https://github.com/KhronosGroup/MoltenVK/files/3240160/d3d11-triangle_d3d11.log)
[d3d11-triangle_dxgi.log](https://github.

[2019-05-31 07:32] oscarbg opened #628 "Simple D3D11 tesselation demo (with DXVK) renders incorrectly.."
Hi,
just testing simple D3D11 tessellation sample under DXVK 1.2.1..
notices this works on Linux/Win using DXVK so seems is not a DXVK issue..
I attach program with logs so you can reproduce..
logs doesn't show any errors..
warnings are similar if not equal to running d3d11-triangle sample under DXVK+MoltenVK and this case
renders correctly using ..
perhaps is a Metal driver bug? (I'm on 10.14.5 &

[2019-05-31 08:29] oscarbg opened #629 "Error using gl_SubgroupInvocationID in fragment shaders.."
Hi,
I was testing a simple but complete enough test of wave/subgroup ops to see if how well it plays..
basically using this sample (https://github.com/ConfettiFX/The-Forge/tree/master/Examples_3/Unit_Tests/src/14_WaveIntrinsics) but ported to a even simple sample as this sample has some issues running under Wine even on Linux..
but the interesting shader is anyway:
https://github.com/ConfettiFX/Th

[2019-05-31 09:10] aerofly commented on #602
If possible I recommend to disable _metalFeatures.events by default until the issue is resolved. The error shows up on our side for MacOS as well as iOS.
I am willing to do further tests to help find out what the issue is here.

[2019-05-31 15:28] cdavis5e commented on #629
Yeah, this is a known limitation of Metal (rdar://30281606). But it just occurred to me: maybe we can work around it like this:

[code]

`simd_prefix_exclusive_sum()` returns 0 in the first lane and the sum of all previous lanes' arguments in the other lanes.

[2019-05-31 19:36] oscarbg commented on #629
Hi @cdavis5e,
thanks for suggestion.. nice idea..
will try soon and report findings..

[2019-05-31 19:56] cdavis5e commented on #629
Note that the example I gave was for MSL. For GLSL, it'd be:

[code]

[2019-06-02 14:26] billhollings commented on #602
@cdavis5e Will you be having a look at trying to resolve this (and #625) this coming week, before the SDK release?

[2019-06-03 18:10] cdavis5e commented on #602
I'm probably going to take a stab at fixing this. But in case I fail to get something by the SDK release, feel free to add an environment variable to disable this by default.

[2019-06-03 20:08] Degerz opened #630 "Support for VK_EXT_fragment_shader_interlock ?"
With the [latest](https://github.com/KhronosGroup/Vulkan-Docs/commit/619084d44a605285e39530a0810d323ad024f897) Vulkan specification release, could we get this mapped to Metal's raster order groups feature ?

Similarly, can we support this extension on top of another feature specific to iOS such as Metal's programmable blending feature ?

Those are the two possible ways I can think of approaching i

[2019-06-04 02:06] oscarbg commented on #630
Hi,
+1
I think is "conceptually" better to map to raster order groups as seems more "equivalent" to it and generalizes to MacOS.. it's a Metal 2 feature BTW..
note just asked already for SPIRV-Cross support for it: https://github.com/KhronosGroup/SPIRV-Cross/issues/1002 (in fact I ask for more: also GLSL and HLSL backend support)
don't know once SPIRV-Cross dev supports it how much difficult & eff

[2019-06-04 02:31] oscarbg commented on #629
Hi @cdavis5e .. thanks I spoke too soon.. but was already thinking of using "equivalent" GLSL code but now you pointed out I don't have to think equivalent port.. still not tested but just seeing today new Metal SL 2.2 got released: https://developer.apple.com/metal/Metal-Shading-Language-Specification.pdf
and good news is now thread_index_in_simdgroup is supported as fragment shader input:
just i

[2019-06-04 22:45] oscarbg opened #631 "Support for new Metal 3.0 features.."
Hi,
we have Metal news from WWDC19..
there is new Metal 3.0 API: (link: https://developer.apple.com/metal/Metal-Feature-Set-Tables.pdf)
and new Metal 2.2 Shading language: (link: https://developer.apple.com/metal/Metal-Shading-Language-Specification.pdf)

I have opened a separate SPIRV-Cross issue to track/handle new Metal SL features:
https://github.com/KhronosGroup/SPIRV-Cross/issues/1004

From

[2019-06-05 04:44] Degerz commented on #631
Finally, no more ugly workarounds in SPIRV-Cross to support `VkComponentMapping` for Metal anymore ...

Improvement but still behind D3D11 limit of 128 texture binds. I still wish for next year that Apple's GPUs could support [NV-style](https://www.khronos.org/registry/OpenGL/extensions/NV/NV_bindless_texture.txt) bindless image handles ... (bindless texture handles instead of unbounded resource i

[2019-06-05 09:40] BearishSun opened #632 "Providing workgroup size when passing custom MSL"
When compiling a compute shader from MSL source code (using the magic number), I'm not seeing an option for providing the workgroup size (i.e. numbers of threads per threadgroup). Looking at the code this seems to be deduced from `SPIR-V Cross` when SPIR-V -> MSL conversion is made, but when passing MSL source I cannot find a way to assign it (it is assumed to be 1, 1, 1).

Is there a way to assig

[2019-06-05 09:49] BearishSun commented on #632
(I wouldn't mind something like `vkSetThreadgroupSizeMVK` that can be called on the shader module post-compilation).

[2019-06-05 13:49] billhollings commented on #632
Certainly a possibility.

What is your goal in submitting MSL directly? I ask because if the reason is to avoid the cost of runtime conversion from SPIR-V to MSL...another approach might be to make use of standard Vulkan pipeline caching within your app.

MoltenVK's implementation of pipeline cache serialization outputs/inputs converted shader MSL, plus entry-point info such as workgroup size, so

[2019-06-05 13:54] billhollings commented on #631
@oscarbg Thanks for the review summary!

Definitely some interesting enhancements there. Texture swizzle and line widths in particular should be fairly straightforward to map in.

[2019-06-05 15:20] BearishSun commented on #632
Our high level design currently prevents pipeline caching, without major changes we are not yet ready for. So we are only relying on individual shader code caching.

Regardless, since cached pipelines are device dependent (at least as far as Vulkan spec is concerned, not sure about MoltenVK), having pre-compiled MSL or Metal intermediate code is still beneficial as it avoids that initial compile s

[2019-06-05 15:27] billhollings commented on #625
PR #633 provides an automated workaround for this issue.

[2019-06-05 15:33] billhollings commented on #602
PR #633 provides an automatic workaround for this issue by providing the environment variable `MVK_ALLOW_METAL_EVENTS`, which is disabled by default.

The use of Metal events is therefore disabled by default, unless the `MVK_ALLOW_METAL_EVENTS` environment variable is enabled at runtime by the app.

[2019-06-05 21:44] Dolphiniac opened #634 "vkQueueSubmit leaks memory over time"
Hello, all!  I'm working in a project using MoltenVK to target our Mac and iOS platforms, and I've noticed a steadily rising memory footprint in the XCode window (~50KiB/s).  This leak is completely halted if I disable the frame's vkQueueSubmit call.

Noticing issue #103 when writing this issue, I tried disabling the fence in the call and calling vkQueueWaitIdle directly after submitting with no c

[2019-06-06 02:19] oscarbg commented on #631
Hi,
Yep.. interesting ones..
upon Metal headers inspection is now clear that at least three more optional Vulkan features could be exposed by MoltenVK, namely (some maybe Mac only not clear yet):
*shaderInt64
*wideLines
*pipelineStatisticsQuery

still hope next year Metal exposes at least (for desktop GPUs):
*depthBounds
*shaderFloat64
as sparse/tiled resources maybe out of interest to Apple..

fo

[2019-06-06 02:21] billhollings commented on #634
@Dolphiniac

I'm not able to reproduce any MoltenVK leaks using apps I have access to.

Are you able to post a link to an app that demonstrates the issue?

Or can you run Xcode Instruments and identify the source of the leaks?

[2019-06-06 02:47] cdavis5e commented on #631
I think the upcoming peer group functionality, which hasn't landed yet, should enable us to do `VK_KHR_device_group`.

[2019-06-06 02:54] cdavis5e commented on #631
Are you sure? I know about the "secret" methods that are present for this purpose, but I haven't seen them exposed in the public SDK headers yet.

[2019-06-06 03:22] oscarbg commented on #631
@cdavis5e yep seems P2P should allow VK_KHR_device_group.. I was not even asking about it as it would need a pricey Mac Pro 2019 setup to take advantage of it..
about wideLines, you are right I haven't seen any mention on headers..
but you got me interested on "secret" methods are present already.. can you answer if you are aware of more Meta "secret functionality" in addition to wideLines and log

[2019-06-06 04:06] cdavis5e commented on #631
Another feature we could do: `shaderResourceMinLod`. The new `min_lod` sample parameter should be useful for that.

Apple even explicitly calls this out in the docs as useful for texture streaming... I wonder if they really are going to support sparse/tiled resources. In OpenGL, the `textureMinLod` GLSL functions came along with support for sparse textures. Support for D3D12 reserved resources jus

[2019-06-06 04:42] oscarbg commented on #631
yep.. curiously MoltenVK could be like Intel Mesa driver that advertises it, without sparse texture support:
http://www.vulkan.gpuinfo.org/displayreport.php?id=5749#features
nice find VKD3D added today sparse support..
hope not too far in VKD3D TODO list is ROV support now that we have the VK_EXT_fragment_shader_interlock..
in that case MoltenVK also can support it and there is an issue already op

[2019-06-06 06:03] oscarbg commented on #631
@cdavis5e yes seems sparse support is mostly done..
at least metal shader compiler..
metal_texture:
__HAVE_SPARSE_TEXTURES__
__HAVE_SPARSE_SAMPLE_COMPARE_BIAS_OVERLOAD__
__HAVE_SPARSE_SAMPLE_COMPARE_GRADIENT2D_OVERLOAD__
define lots of overloaded texture functions
so calling in theory metal -D__HAVE_SPARSE_TEXTURES__ should work..
also found rasterisation rate (__HAVE_RASTERIZATION_RATE__) in meta

[2019-06-06 20:44] cdavis5e commented on #602
I think I've figured out what's wrong. For real, this time.

At least in the cases I've observed, this seems to be some sort of weird race between `vkAcquireNextImageKHR()` signaling a semaphore and `vkQueueSubmit()` waiting for that semaphore. If the image does not become available until *after* the submission is queued, then `encodeWait()` will be called before `encodeSignal()`. Because `encodeW

[2019-06-06 21:15] cdavis5e commented on #602
Another problem is that there is a case where the semaphore's `MTLEvent` won't get signaled at all, and that's when the image is presented without using a command buffer. When I made it use a command buffer if we had device-side `MTLEvents`, I only made it check if there were semaphores to *await*, not to signal. The non-command-buffer case is not really expecting to have device-side semaphores to

[2019-06-06 21:32] #632 closed

[2019-06-06 23:19] Degerz commented on #631
maybe A13 supports VRS..

It's more likely that Metal 3.0 is exposing a feature that was previously [exposed](https://docs.microsoft.com/en-us/windows-hardware/drivers/display/directx-feature-improvements-in-windows-8#tir) in D3D11.1 which was "target independent rasterization". [Prior](https://developer.apple.com/library/archive/documentation/Miscellaneous/Conceptual/MetalProgrammingGuide/Render-

[2019-06-07 02:42] cdavis5e commented on #631
The type guarded by that macro (metal_graphics:182) has methods to convert between "physical" and "screen" coordinates. It's more than likely used to support variable-rate shading.

[2019-06-07 10:59] aerofly commented on #602
Thank you for your update on this issue. We would be happy to assist you here with testing.

[2019-06-07 22:46] tasku12 commented on #602
Hi there. I am using MoltenVK on a large 3D iOS project. When I have _metalFeatures.events = true;
I have a significant increase in frame rate which is fantastic. Although I am not getting the same kind of errors as mentioned above I am noticing a very aggressive increase in memory pressure with this event enabled. I am getting out of memory crashes on iOS as soon as loading into one of my levels.

[2019-06-09 20:19] darksylinc commented on #62
Hi everyone! I'm the maintainer of Ogre 2.x branch, and we hit this exact problem (which btw will disappear in macOS Catalina).

I couldn't help notice your version of the compute shader is... too inefficient.
It leaves a single thread to handle the entire copy.

Considering AMD GCN takes 4 clocks to execute a single instruction, just moving around memory would take 8 cycles per byte (one for load

[2019-06-10 13:46] HansKristian-Work commented on #556
It might be feasible to add an option to SPIRV-Cross' MSL backend which replaces all comparison samplers (sample_compare) with a given constexpr sampler rather than overriding individual samplers, since it's not known which samplers are actually comparison samplers in SPIR-V until you analyze the execution.

[2019-06-10 16:37] billhollings commented on #631
To give us a place to move forward on this, I've added a [Metal-3.0 branch](https://github.com/KhronosGroup/MoltenVK/tree/Metal-3.0), and made an initial commit to it in PR #638, to cover some basic version admin.

[2019-06-10 21:20] billhollings commented on #556
@HansKristian-Work  Just to be clear I understand your suggestion...

Would this assume a single universal constexpr sampler? Would we know the structure of this sampler just from the SPIR-V code? And what if the app wanted to use more than one type of depth comparison sampler (different compare op, filters, or address modes, etc)?

Since the SPIRV-Cross API already has a mechanism to replace boun

[2019-06-11 08:12] BearishSun opened #639 "Validation error with host visible+coherent buffer used as a uniform texel buffer"
Hello.

When you create a `VkBuffer` with `VK_MEMORY_PROPERTY_HOST_VISIBLE_BIT | VK_MEMORY_PROPERTY_HOST_COHERENT_BIT`, and then create a `VkBufferView` which gets used in a descriptor set for a texel uniform buffer binding, Metal validation reports an error:
`resourceOptions (0x10) must match backing buffer resource options (0x0)`

Doing some investigation, what appears to be happening is that th

[2019-06-11 08:12] HansKristian-Work commented on #556
Right, how this is solved is completely up to MoltenVK/app. SPIRV-Cross can deal with different constexpr samplers per sampler, so if the app provides which samplers to override, that's certainly easier.

[2019-06-11 09:31] jamesd9 commented on #556
I would like to upvote this as we've just run into this problem too. A8 support is still required even for applications that target iOS 13, so this limitation is significant issue for us. Even the most basic solution of a global constexpr sampler should fix it though.

[2019-06-11 15:00] Gcenx commented on #203
@Rastafabisch your log says Wine-Staging-4.7, by chance is that from my MEGA folder?
If so you should know those were all the cross-compiles were built using the 10.11 SDK since osxcross only recently added support for newer SDK versions. That would explain the Metal 1.2 issue from earlier.

@oscarbg & @cdavis5e I wanted to ask is the Metal level now detected correctly for the running system or is

[2019-06-11 15:12] doitsujin commented on #203
To clarify, this is needed to emulate "null" vertex buffers properly. When a D3D11 application binds no vertex buffer to a given slot, DXVK will instead bind a small buffer which contains nothing but zeroes, and set the stride to 0 to avoid out-of-bounds access.

I don't know any better way to emulate this that would work with this restriction.

[2019-06-11 15:48] vskllee commented on #203
哇哦！！！

[2019-06-11 21:50] Rastafabisch commented on #203
You got me. I can send you my (minor) edits, if you like?

True, but this got fixed, as I recall.

So if possible the easiest way might be ignoring the error and continuing, if this does not break subsequent functions.

[2019-06-11 22:37] Gcenx commented on #203
@Rastafabisch I was only concerned that being compiled with the 10.11SDK could have caused false positives, I always use the current Vulkan SDK so that part would be a nine issue.

As for the other thing sure just open an issue [here](https://github.com/Gcenx/WineskinServer) as it’s not really related to MoltenVK directly. And I might forget if it’s not an open issue ;)

[2019-06-12 02:38] billhollings commented on #556
I have a WIP of this finished. However...I am having difficulty finding apps or samples, that actually use depth compare sampling, to test it against!

If anyone can point me to an app or sample that makes use of depth compare...I would appreciate it!

I don't need something that runs on iOS...where this is applicable. I can fake the depth compare feature not being available.

[2019-06-12 05:04] cdavis5e commented on #639
There already is such a flag--two in fact. `VK_BUFFER_USAGE_UNIFORM_TEXEL_BUFFER_BIT` and `VK_BUFFER_USAGE_STORAGE_TEXEL_BUFFER_BIT` indicate that the buffer will have `VkBufferView`s created out of it. The solution, then, is to force the buffer itself to use `MTLStorageModeManaged` when either of these bits is set.

[2019-06-12 05:14] BearishSun commented on #639
The flag I suggest would need to be provided earlier on, as the buffer storage mode is determined as the memory is being allocated, before we have access to the flags above.

My intent with the flag was to avoid the case you suggest, where a secondary buffer will need to be allocated and existing contents copied, after we detect it will be used for a texel buffer. But that's also an option.

[2019-06-12 12:01] danginsburg commented on #556
Dota does, although obviously it just provides the samplers as normal (non immutable) in a descriptor set so I'm not sure how you'd be able to use that to test it.

[2019-06-12 12:22] HansKristian-Work commented on #556
@billhollings I'll hook you up with something tomorrow.

[2019-06-12 21:43] Dolphiniac opened #641 "vkCmdBeginRenderPass with different depth/stencil load ops may not set clear value correctly"
I've noticed a bug with a VkRenderPass that uses `VK_ATTACHMENT_LOAD_OP_CLEAR` for `stencilLoadOp` but `VK_ATTACHMENT_LOAD_OP_LOAD` for `loadOp`; the command buffer is prevented from setting non-default clear values to the MTLRenderPassStencilAttachmentDescriptor.

In MVKRenderPass.mm, `MVKRenderPassAttachment::populateMTLRenderPassAttachmentDescriptor`, there is this block:
[code]

Because `willC

[2019-06-13 21:16] billhollings commented on #641
Thanks for tracking down the issue and making a recommendation!

This has been included in PR #642.

[2019-06-13 21:51] #641 closed

[2019-06-14 10:49] kristofferR commented on #192
The lack of Vulkan Events support in MoltenVK is currently blocking DXVK support:
https://github.com/doitsujin/dxvk/issues/1077#issuecomment-495954819

[2019-06-14 10:51] kristofferR commented on #203
Here's the issue for adding the necessary Vulkan Events support:
https://github.com/KhronosGroup/MoltenVK/issues/192

[2019-06-14 20:50] Dolphiniac commented on #634
Update:  I made a dead simple Cocoa app with straight Vk code in `AppDelegate::applicationDidFinishLaunching`.  Beyond creation of the device and retrieval of the queue, I just called `vkQueueWaitIdle` in a loop, and the memory footprint was increasing as I saw previously.

After stepping through what MVK was doing, I noticed that the footprint increases atomically on the stub MTLCommandBuffer `co

[2019-06-16 17:59] billhollings commented on #556
@danginsburg @jamesd9 Fixed in PR #644. Please retest and confirm we can close this issue.

[2019-06-16 18:15] billhollings commented on #556
If anyone is interested in testing this on other devices, you can do so by changing the following line in the `MVKSampler` constructor:

	_requiresConstExprSampler = pCreateInfo->compareEnable && !_device->_pMetalFeatures->depthSampleCompare;

to:

	_requiresConstExprSampler = pCreateInfo->compareEnable && true;

Then if you enable shader conversion logging, you'll see something similar to the fol

[2019-06-16 19:35] billhollings commented on #634
@Dolphiniac

Thanks for the feedback. Good to know that it only appears under certain debug conditions.

Are you able to ZIP up that little test app and post it to the cloud somewhere so we can download it and try to resolve the origin of the leak anyway?

[2019-06-17 14:33] danginsburg commented on #556
I tested PR #644 on iOS 12 iPad Air 2 (Apple A8X GPU) and unfortunately there is a problem.  I am getting the following errors on shaders:

[code]

According to the MSL specification:

[code]

It looks like we need SPIRV-cross to generate the shader without clamp_to_border or border_color.  Is there a way I can force that from my side @HansKristian-Work?

[2019-06-17 14:39] danginsburg commented on #556
UPDATE: works if I force my immutable sampler to CLAMP_TO_EDGE.

[2019-06-17 15:05] billhollings commented on #556
Whoops! Okay. We can fix this in MoltenVK.

Hmmm...this would silently and unexpectedly change behaviour from the app's perspective. Border colour is not available to Metal samplers on iOS...with or without constexpr samplers. Wouldn't it be better to return an error from `vkCreateSampler()`?

With that in place...

would be the correct app behaviour.

SPIRV-Cross is already smart enough to know n

[2019-06-17 15:13] billhollings commented on #556
Sounds good. I'll fix this.

MoltenVK can also advertise to the app via a new flag on `MVKPhysicalDeviceMetalFeatures`...plus the corresponding portability extension flag.

[2019-06-17 16:04] redorav opened #645 "Custom entry point names"
Hi,

I'm having an issue trying to compile MSL using MoltenVK. When I run the application, I supply MSL directly to the stages and set pName to be the name of the entry point. However, the application reports that

"Shader module does not contain an entry point named 'main0'"

and looking at the MVK source code I can see that main0 is the default name. However, I've made sure that pName is populat

[2019-06-18 18:19] billhollings commented on #556
Actually...I spoke prematurely _(sigh)_. MoltenVK _already_ has a `MVKPhysicalDeviceMetalFeatures::samplerClampToBorder` flag to advertise this.

So I'll just beef up the the error handling in `vkCreateSampler()`.

[2019-06-18 19:31] billhollings commented on #645
Thanks for pointing this out. Looks like the `VkPipelineShaderStageCreateInfo::pName` doesn't make it to function creation when MSL is used directly. It's a bug.

For now...just what you've been doing...name all your entry points `main0`...until this is fixed.

[2019-06-19 09:26] redorav commented on #645
Thanks for your reply. I've been trying to add it myself but I'm already delving deep into MoltenVK trying to change it. Is there a place where I could add it myself with relative ease? It would really help me to debug the issues we're currently having.

[2019-06-19 17:57] billhollings commented on #645
I haven't tested this other than to compile it...but you can try adding:

	mvkLib->_entryPoint.mtlFunctionName = pContext->options.entryPointName;

just before the last line of `MVKShaderModule::getMTLFunction(...)`. So the last two lines would then read:

	mvkLib->_entryPoint.mtlFunctionName = pContext->options.entryPointName;
	return mvkLib ? mvkLib->getMTLFunction(pSpecializationInfo, this) : M

[2019-06-20 13:58] redorav commented on #645
I've moved to using SPIRV directly for now while I iron out the issues we're having. Once I'm ready to switch back this'll either be fixed or I'll use your suggestion. Thanks in both cases :)

[2019-06-21 11:24] baldurk opened #647 "MSAA array textures not supported"
It doesn't seem like MoltenVK correctly supports MSAA array textures (`sampler2DMSArray` in GLSL). When trying to compile a pipeline that uses it I get output like this in the debugger:

[code]

btw I ended up on a bit of a red-herring tangent when trying to build the shader in the standalone compiler to examine it for errors, because the shader doesn't have bindings remapped (e.g. this shader use

[2019-06-21 11:25] HansKristian-Work commented on #647
The automatic resource mapping should be fixed in https://github.com/KhronosGroup/SPIRV-Cross/pull/1036, but I don't think that's going to be relevant for MoltenVK runtime at least.

[2019-06-21 15:45] jamesd9 commented on #556
Thanks, this works great for me now. Feel free to close if you like.

[2019-06-26 09:00] ePirat commented on #510
@billhollings Any update on this?

[2019-06-26 10:16] baldurk opened #649 "MVK_DEBUG not dumping shader source"
I'm trying to get more information on a shader compile failure on the version of MoltenVK to ship with the 1.1.108 SDK (which seems like it's fixed on latest but I want to be sure), and the docs suggested that I should be able to set the environment variable `MVK_DEBUG=1` to get shader source dumps like I do on debug builds, but nothing changed in the output when I ran with that.

Side-note, I wen

[2019-06-27 06:50] MichaelE1000 commented on #468
Are there any news on this?

I'm trying to port over a complex algorithm with several larger compute shaders. Unfortunately cross compiling the spirv code for one of those does not work out as the apple metal implementation on the ipad pro does not accept the shader code anymore. I ported it over to use MSL directly as well which solved the problem of being able to run the shader. Unfortunately no

[2019-06-27 22:16] billhollings commented on #510
@ePirat Thanks for the prod. I'll look at it as soon as I can.

[2019-06-27 22:19] billhollings commented on #649
Thanks. Very strange that the environment var is not working. I'll have a look.

Thanks for the suggestion about the documentation. I agree we should clarify that.

[2019-06-27 22:28] billhollings commented on #468
The `vkSetWorkgroupSizeMVK()` function was added  about a month ago (#635 & #637)...and is in latest 1.0.35 release.

It is also included in the 1.1.108 Vulkan SDK...but unfortunately this call might now work with a `VKShaderModule` that was created using the Loader...because the intervening layers can change the opaque object that is returned.

Let me know if that meets your needs here, and we ca

[2019-06-29 23:33] billhollings commented on #645
@redorav This has been fixed in PR #650. Function names for direct MSL are now set from `VkPipelineShaderStageCreateInfo::pName`. Please re-test and close this issue if it fixes it for you.

[2019-06-30 12:37] alexey-lysiuk opened #651 "Crash in MVKDescriptorSetLayoutBinding::bind()"
I encountered a pretty stable way to crash MoltenVK which I cannot reproduce with other Vulkan implementations (Windows and Linux, NVIDIA/AMD/Intel hardware).

Here is a callstack.
[code]

The problem is the steps to reproduce are rather complex.
Unfortunately, I unable to create a simple test case for it.

In short, you need to run [GZDoom](https://zdoom.org/downloads) with Vulkan renderer turned

[2019-06-30 16:48] billhollings commented on #649
@baldurk

It looks like `vulkansdk/macOS/lib/libMoltenVK.dylib` in the 1.1.108 SDK was built with logging disabled.

You can retrieve and build the [version of MoltenVK used in the SDK](https://github.com/KhronosGroup/MoltenVK/releases/tag/v1.0.35), and then replace `vulkansdk/macOS/lib/libMoltenVK.dylib` with a symlink to it.

I'll discuss MoltenVK logging with the Vulkan SDK team.

PR #650 adds

[2019-06-30 16:53] #621 closed

[2019-06-30 21:32] billhollings commented on #510
@ePirat This is fixed in PR #652 . Please retest and close this issue if it fixes your issue.

[2019-07-01 10:49] ePirat commented on #510
Yes, I can't reproduce anymore with latest master, so it seems #652 fixed it! Thanks a lot!

[2019-07-01 10:49] #510 closed

[2019-07-02 11:42] MichaEiler commented on #468
This does the trick way more nicely :-). I unfortunately cloned the repository a few days before this was merged and therefore was not aware of it :(

[2019-07-02 13:48] billhollings commented on #468
Okay. Sounds like we can close this issue then.

[2019-07-02 13:48] #468 closed

[2019-07-03 13:59] kvark opened #653 "Support VK_EXT_metal_surface"
It would be good for MoltenVK to support the proper VkPi surface extension, so that we can port the applications to be equally portable on MoltenVK and gfx-portability.

See https://www.khronos.org/registry/vulkan/specs/1.1-extensions/man/html/VK_EXT_metal_surface.html

The current state of things is applications using `VK_MVK_macos_surface` directly and inconsistently: some providing `NSView`, ot

[2019-07-04 00:25] billhollings commented on #653
@kvark Thanks for the reminder! PR #654 adds this extension.

[2019-07-04 04:17] billhollings commented on #653
Closing.

[2019-07-04 04:17] #653 closed

[2019-07-04 10:38] eintw1ck commented on #649
For more context `MVK_CONFIG_TRACE_VULKAN_CALLS=2` does work but `MVK_CONFIG_LOG_LEVEL=2` doesn't. I think the expected behaviour should be `MVK_CONFIG_LOG_LEVEL=01 by default but able to change it at runtime?

[2019-07-04 12:52] billhollings commented on #649
@eintw1ck Unfortunately...`MVK_CONFIG_LOG_LEVEL` will have no effect since MoltenVK in the 1.1.108 SDK was built with logging turned completely off, using a separate flag.

LunarG has made a [fix](https://github.com/KhronosGroup/Vulkan-Tools/pull/217) to their MoltenVK build process, to do exactly what you suggest. Future versions of MoltenVK in the SDK will run with `MVK_CONFIG_LOG_LEVEL` set to

[2019-07-08 10:08] unidef opened #655 "Not enough multidimensional arrays"
I dont know objc very well, but I suggest writing a c macro function that allows functions to have multi dimension arrays, it’s hard to explain but the proto code is

secure INT256PTR_f write(/ * blah */ ptrmdmdbt returnArray[][][])[x][y][z] { return FREAKAZOID; }

[2019-07-08 14:28] billhollings commented on #655
I'm assuming this is spam.

[2019-07-08 14:28] #655 closed

[2019-07-09 12:32] hrydgard commented on #327
I don't currently have a repro I can share, but I also have an issue with push constants in MoltenVK.

Here's a sketch what appears to be happening:

vkBindPipeline(pipe1)
vkBindDescriptorSet(pipe1, a uniform buffer in set 0, binding 0)
vkPushConstants(constants1)
vkDraw(draw1)
vkPushConstants(constants2)
vkDraw(draw2)
vkBindPipeline(pipe2)
vkPushConstants(constants3)
vkDraw(draw3)
[code]

[2019-07-09 12:40] hrydgard commented on #327
Found it. The issue is that if you don't do a vkCmdBindDescriptorSets after binding a new pipeline, push constants are broken. Doing an empty
[code]
fixes things right up.

Unfortunately the validation layers complain about this, so a fix in MoltenVK would be much better.

[2019-07-09 12:56] hrydgard commented on #327
https://github.com/KhronosGroup/MoltenVK/blob/a5cefa5c98a6c1a80bb52a55a189dcbb7b1cfdb0/MoltenVK/MoltenVK/GPUObjects/MVKPipeline.mm#L56

It seems that push constant destination is only updated after binddescriptorset, so if you are switching to a pipeline that is not using any descriptor sets, these don't get updated and vkCmdPushConstants has no effect.

[2019-07-09 13:04] hrydgard commented on #564
The SPIRV-Cross bug is reported as fixed, should this be closed?

[2019-07-09 13:41] seivan commented on #586
@billhollings Could you point out the build process `MoltenVKGLSLToSPIRVConverter` uses to build `glslang` to specifically support both macOS and iOS?

[2019-07-09 14:02] #564 closed

[2019-07-09 14:49] hrydgard commented on #102
Metal 3 has support for custom texture swizzle.

[2019-07-09 19:59] billhollings commented on #102
Just a reminder for anyone who wants to add Metal 3 features...please do so on the [Metal-3.0](https://github.com/KhronosGroup/MoltenVK/tree/Metal-3.0) branch.

[2019-07-09 20:28] hrydgard commented on #327
@billhollings The original poster here talks about an apparent shader generation issue, which is probably not the same push constant problem I found - should I break out my reports into a separate issue? There is a real bug in MoltenVK here that should be looked at.

[2019-07-09 20:57] billhollings commented on #327
@hrydgard Yes, please. We can then put a separate bug label on it to keep a focus on it.

And please make the title a bit more specific while you're at it. To make it easier...just consolidate your 3 comments into a single one.

[2019-07-10 07:30] hrydgard opened #657 "Push constants do not update correctly if you don't call vkCmdBindDescriptorSets after vkCmdBindPipeline"
Broken out from #327.

Push constants in MoltenVK only work correctly for the first pipeline you bind in a command buffer, or after you've called vkCmdBindDescriptorSets after you've bound a later pipeline.

The following call sequence is currently broken in MoltenVK but works on other conforming Vulkan implementations:

[code]

Note that vkCmdBindDescriptorSets is not called after the second vkCm

[2019-07-10 07:32] hrydgard commented on #327
Done, #657.

[2019-07-10 14:08] aerofly opened #658 "vkCmdBlitImage strange behaviour since update from 07/09/2019"
The last commit yesterday seems to have a broken vkCmdBlitImage implementation. When rendering to a frame buffer and then generating mipmaps from it using vkCmdBlitImage, we get slower frames each frame, e.g. the frame rate decreases over time.

I haven't looked into the latest code, but it seems like commands are piling up each frame when using vkCmdBlitImage.

[2019-07-10 14:09] billhollings commented on #327
@hrydgard Thanks.

Closing this issue since the original issue is not sufficiently defined yet.

[2019-07-10 14:09] #327 closed

[2019-07-10 14:15] billhollings commented on #658
The latest push did include significant changes to `vkCmdBlitImage()`.

But what you describe is a strange outcome indeed!

Can you provide a way of replicating it so I can investigate?

[2019-07-10 14:17] kvark commented on #657
It would be good if Vulkan CTS covered more cases in this area

[2019-07-10 14:26] billhollings commented on #658
@aerofly NM. I think I see the problem. Will push a fix ASAP.

[2019-07-10 14:26] aerofly commented on #658
Sending a sample is difficult, but I can explain what I do and provide the function that's causing the issue:

- We render to an 8 Bit RGBA framebuffer.
- We then create the mipmap chain from this using vkCmdBlitImage
- If I comment out the line with vkCmdBlitImage performance is ok again, but I have no mipmap level

The source for this is here

[code]

[2019-07-10 14:31] aerofly commented on #658
Ok, thank you.

[2019-07-10 15:23] billhollings commented on #658
Fixed in PR #659. Please retest and close this issue if resolved.

[2019-07-10 15:42] aerofly commented on #658
Thank you for the quick fix. It seems to work again. I am closing this.

[2019-07-10 15:42] #658 closed

[2019-07-10 16:44] hrydgard commented on #657
Sure would be good, there are many things missing from the CTS.

[2019-07-10 22:31] billhollings commented on #657
Fixed in PR #660. Please retest and close if resolved.

[2019-07-11 08:13] #657 closed

[2019-07-11 20:45] billhollings opened #661 "Code checking image BLIT support interferes with image clearing"
@aerofly

The following code in `MVKImage` is interfering with the ability of `MVKCmdClearImage` to clear an image (by rendering the clear color to it):

	// If this format doesn't support being blitted to, and the usage
	// doesn't specify use as an attachment, turn off
	// MTLTextureUsageRenderTarget.
	VkFormatProperties props;
	_device->getPhysicalDevice()->getFormatProperties(getVkFormat(), &p

[2019-07-11 21:19] aerofly commented on #661
@billhollings
I am pretty sure, I did not add or modify the above code as my commit was just introducing the MVKVector class. I did not work on anything else.

However when sending the pull request with my MVKVector class, I made a few mistakes on updating my version of MoltenVK as you can see in the conversation history.

So my assumption is, due to this issue, this code somehow found it's way ba

[2019-07-11 22:05] billhollings commented on #661
@aerofly Thanks.

Okay...I think I've found the [original commit](https://github.com/KhronosGroup/MoltenVK/pull/385/files).

@cdavis5e

On further examination...it turns out NOT to be the source of the error above...so we don't have to fix anything. But I am curious what this change was for. It is odd that we are turning off a Metal usage under the covers...rather than reporting via the Vulkan API

[2019-07-11 22:10] cdavis5e commented on #661
I was running the CTS, and it tried to blit to a `VK_FORMAT_E5B9G9R9_UFLOAT` image. Metal--or perhaps more precisely, the driver for my Radeon card--cannot render to this format. And I think it hit the case where we fall back to a render in `vkCmdBlitImage()`.

[2019-07-12 08:22] alexey-lysiuk commented on #651
To catch the problem earlier, you can add the following condition.
[code]
This helps to stop in the debugger when layout mismatch happens at the place where it's set.

Also, steps to reproduce can be simplified a bit by running GZDoom without any mods, enabling internal bloom postprocess, and switching between windowed and fullscreen by pressing `Command + F`.
In this case, command line will be th

[2019-07-12 16:28] billhollings commented on #661
@cdavis5e Thanks.

`MTLTextureUsageRenderTarget` is being set on CTS tests that are using `VK_FORMAT_E5B9G9R9_UFLOAT_PACK32` as a BLIT source. So you turning it off under the covers doesn't affect that behaviour. And as you say...it won't ever be a BLIT destination...where removing `MTLTextureUsageRenderTarget` would cause a Metal validation error.

[2019-07-13 04:45] #661 closed

[2019-07-13 07:35] alexey-lysiuk commented on #651
The problem is boils down to a layout handle created by `vkCreateDescriptorSetLayout()` function can have the same value (address or pointer) again.
In other words, create -> destroy -> create sequence may produce the same handle while `VkDescriptorSetLayoutCreateInfo` contents are different between two calls.

At the same time, this layout handle is used as unique identifier in [MVKDescriptorSet:

[2019-07-15 14:59] billhollings opened #664 "Vulkan SDK release coordination starting July 22"
LunarG is planning the next Vulkan SDK release for the week of July 22.

Final release date has not been set yet...and will depend on planning and testing. Updates will be posted here.

MoltenVK PRs submitted by Fri July 19 will be included. Please notify here if you want to get a PR into this SDK release after that date.

@cdavis5e @HansKristian-Work @jeremyk-lunarg

[2019-07-19 16:51] billhollings commented on #664
Thanks for the info. Can you give me a "known good" commit number sometime early next week (Monday/Tuesday)?

[2019-07-19 19:48] HansKristian-Work commented on #664
https://github.com/KhronosGroup/SPIRV-Cross/commit/44f688bf0b77d4f1a2c87de85980be0696974881 is the last commit before the scalar layout PR, I wouldn't pull anything later until further notice. I'm working on a rewrite of the packing logic, but not sure if it lands soon enough for next SDK release.

[2019-07-19 20:12] kvark commented on #556
Would it be possible to un-hook this now? It blocks us from running Dota2.

[2019-07-19 20:28] danginsburg commented on #556
The solution is not to remove the extension but for Dota to only use it when it's available.  I'll fix that.

[2019-07-19 20:39] billhollings commented on #664
Roger. Thanks.

[2019-07-19 20:42] cdavis5e commented on #664
It's too late--I've already pulled MoltenVK past that. I think we may need to revert #672 and part of #679.

No, nothing critical.

[2019-07-19 21:33] billhollings commented on #556
@danginsburg Is this enhancement sufficient for your needs? Can we close this now?

[2019-07-22 13:34] danginsburg commented on #556
Yes, closing.

[2019-07-22 13:34] #556 closed

[2019-07-22 13:56] aerofly opened #681 "Wrong UBO layout since last update"
A few of my shaders don't get their uniform values properly anymore since one of the last commits in the past days, e.g. I have a UBO with various vec3, mat4 and float fields and it seems like the layout has somehow changed. Using an older MoltenVK everything looks good.

Can this be linked to the new VK_EXT_scalar_block_layout extension, e.g. is it on by default maybe or do we have to do somethin

[2019-07-22 16:47] cdavis5e commented on #681
I strongly suspect it is linked to `VK_EXT_scalar_block_layout`, which would make it my fault.

Does building MoltenVK with KhronosGroup/SPIRV-Cross#1089 help?

[2019-07-23 03:42] billhollings commented on #651
@alexey-lysiuk

This has hopefully been fixed in PR #553

This solution destroys the descriptor set pool associated with a descriptor set layout when that layout is destroyed. In addition to fixing the specific reuse-mismatch issue described here, that should also help with the memory build up that would occur in an app that keeps destroying and recreating layout.

Can you test it out in your envi

[2019-07-23 14:33] billhollings commented on #664
@cdavis5e It's getting close to locking down dependency versions for the MoltenVK SDK release. Is the SPIRV-Cross version [currently used](https://github.com/KhronosGroup/MoltenVK/blob/master/ExternalRevisions/SPIRV-Cross_repo_revision) in MoltenVK good...or do we need to bump it for recent features you've added?

[2019-07-23 14:40] cdavis5e commented on #664
We can't bump--all the commits for the features I added are *after* the commits which added scalar block layout, which are the ones which caused KhronosGroup/SPIRV-Cross#1088 and #681. If @HansKristian-Work can't get KhronosGroup/SPIRV-Cross#1089 ready in time, we'll have to revert #672 and the scalar block layout change from #679.

[2019-07-23 14:47] HansKristian-Work commented on #664
Is there a concrete deadline to work with? I'll try very hard to have my PR merged ASAP. A ton of quirky issues with buffer packing have been fixed now in general.

[2019-07-23 15:08] jeremyk-lunarg commented on #664
Please try to have this resolved by Thursday Morning, July 25.

[2019-07-23 15:11] billhollings commented on #664
@jeremyk-lunarg Thanks. In the meantime...are you able to work with existing MoltenVK to test builds and ensure SDK compatibility?

[2019-07-23 15:12] jeremyk-lunarg commented on #664
I will be checking that now.

[2019-07-23 15:33] aerofly commented on #681
Ah ok, I see, I am pretty sure this is indeed the issue. I don't have the time to test it against the new SPIRV-Cross#1089, but will repeat my tests again, once SPIRV is updated.

[2019-07-23 15:51] jeremyk-lunarg commented on #664
MoltenVK cannot build with the version of glslang we are shipping with.
It seems the version of SPIRV-Tools that glslang uses has removed the file `common_uniform_elim_pass.cpp`.

[2019-07-23 16:50] billhollings commented on #664
Okay. I'll get an updated push out today.

[2019-07-23 17:25] HansKristian-Work commented on #664
I should make the PR some time tomorrow (CEST). Some test fallout I'm working through.

[2019-07-23 18:35] billhollings commented on #664
@jeremyk-lunarg PR #683 fixes the SPIRV-Tools build error...and is up to date for all MoltenVK dependencies _**except**_ SPIRV-Cross...which we will update by Thursday.

@cdavis5e Looks like the component names of the `VK_INTEL_shader_integer_functions2` extension changed between versions `1.1.114` and `1.1.115` of the Vulkan spec. I've changed the MoltenVK usage to match the `1.1.114` of this rel

[2019-07-23 19:32] alexey-lysiuk commented on #651
Verified with 4e4bf617c6819de1f3b05fa80f20fdd520b09594 that the issue was resolved. Thank you.

[2019-07-23 19:32] #651 closed

[2019-07-24 13:36] HansKristian-Work commented on #664
I've merged the PR :tada: . I think you can pull current master.

[2019-07-24 14:24] billhollings commented on #664
@HansKristian-Work Thanks for the Herculean effort! I'll update MoltenVK.

[2019-07-24 17:21] dmikis opened #684 "Reference cycle if UIView owns VkSurfaceKHR"
If we're to create a simple view like that:

[code]

This view leaks "itself" because [listener](https://github.com/KhronosGroup/MoltenVK/blob/a945872cf34ef0f28a0113bbd196dc4b547f7718/MoltenVK/MoltenVK/GPUObjects/MVKSurface.mm#L79-L87) in `MVKSurface` [takes](https://github.com/KhronosGroup/MoltenVK/blob/a945872cf34ef0f28a0113bbd196dc4b547f7718/MoltenVK/MoltenVK/Utility/MVKBlockObserver.m#L59) a s

[2019-07-24 18:53] cdavis5e commented on #684
I wanted to use a weak reference originally, but we can't, because we aren't using ARC. So now I'm left with the problem of, "How do I know the view is (being) destroyed, so I shouldn't attempt to remove myself from the KVO list?"

[2019-07-24 19:36] billhollings commented on #684
@dmikis

Presumably you are able to move the call to `vkDestroySurfaceKHR()` to somewhere outside the `YRTThinVulkanView  dealloc` method?

Admittedly not quite as nicely self contained...but say something along the lines of `openVulkan` and `closeVulkan` methods?

[2019-07-24 19:55] billhollings commented on #684
@cdavis5e

It looks like the view is only retained in the observer for the purpose of alerting it when the observer is destroyed when the surface is destroyed.

Hmmm...I wonder if we could opt to not retain the view in the observer...and when the surface is destroyed, instead of releasing it...mark the observer as obsolete...and then let the KVO environment continue to call it...which could trigge

[2019-07-24 20:23] dmikis commented on #684
I think that's may be a viable option: there's no correct situation when a surface outlives a view. Hence situation when `_target` pointer becomes invalid is improbable. I believe, if a surface for some reason outlives view it's created from, it'll break on next image acquire anyway.

If a surface's destroyed well before corresponding view, it safe to simply remove observer from the target anyway,

[2019-07-24 21:29] billhollings commented on #664
@jeremyk-lunarg Release [1.0.36](https://github.com/KhronosGroup/MoltenVK/releases/tag/v1.0.36) is ready to use for SDK 1.1.114.

[2019-07-24 21:31] jeremyk-lunarg commented on #664
Great!  Thanks for all your hard work.

[2019-07-24 21:36] #664 closed

[2019-07-24 22:41] billhollings commented on #684
Yes...please do so.

Be careful. We need to be able to guarantee that. Not many apps will ensure the view will clean up the surface as yours does. It's quite possible for an app to be structured to release the view on the line before it destroys the surface...which would then cause the `MVKBlockObserver::stopObserving()` function to trigger a memory crash on it's first line with a reference to a n

[2019-07-26 16:45] KarenGhavam-lunarG opened #687 "Some linear images can't be mapped to memory with VK_MEMORY_PROPERTY_HOST_COHERENT_BIT"
Latest version of MoltenVK behaves in an apparently non-conformant way
by not allowing some linear images to be mapped to memory with
VK_MEMORY_PROPERTY_HOST_COHERENT_BIT.

The spec guarantees that linear images can always be mapped to coherent memory:

The issue was found during testing of the macOS SDK for release 1.1.114. vkcube was throwing an exception.  The original issue can be seen [here](

[2019-07-26 17:34] billhollings commented on #687
@KarenGhavam-lunarG

I had mentioned the requirement for a staging buffer on the Cube demo on a related [Vulkan-Tools PR](https://github.com/KhronosGroup/Vulkan-Tools/pull/220#issuecomment-511903792)...but that PR never made it into the SDK release...and I guess the recommendation was missed as a result.

The recent MoltenVK changes were to accommodate CTS testing.

The fundamental problem is that

[2019-07-26 17:37] billhollings commented on #687
@KarenGhavam-lunarG Just to confirm from your comments...the Cube demo in the SDK has worked around this for now...and this is something that does _**not**_ need emergency attention for the 1.1.114 SDK...correct?

[2019-07-26 17:47] KarenGhavam-lunarG commented on #687
@billhollings Correct. We did a workaround in the cube code for macOS only to enable us to move forward.

[2019-07-28 08:38] aerofly commented on #681
Ok, this issue is now resolved with the latest MoltenVK.

[2019-07-28 08:38] #681 closed

[2019-07-29 09:20] ivovandongen opened #689 "ICD_LOADER_MAGIC check fails when using MoltenVK through the vulkan-loader in debug"
[code]

This occurs when using MoltenVK as an ICS through the vulkan-loader. After acquiring and subsequently freeing a commandbuffer, the object is pooled, but seems to loose the proper ICD loader magic. When acquiring another command buffer on the same command pool, the debug assert fails on https://github.com/KhronosGroup/Vulkan-Headers/blob/master/include/vulkan/vk_icd.h#L73-L76

If turning of

[2019-07-29 21:57] billhollings commented on #687
Fixed in PR #690.

[2019-07-29 22:01] billhollings commented on #689
MoltenVK has never manipulated the magic number beyond its initial setting when creating new dispatchable Vulkan handles. Based on testing...the magic number seems to be coming back corrupted on objects freed by the loader.

Anyway...I think I've fixed this in PR #690 by re-establishing the magic number every time when MoltenVK returns a handle to the loader, whether the object was newly created,

[2019-07-30 02:29] #687 closed

[2019-07-30 02:29] #689 closed

[2019-07-30 02:59] billhollings commented on #645
Closing, since it's been a while. Please reopen if issue persists.

[2019-07-30 02:59] #645 closed

[2019-07-30 07:30] ivovandongen commented on #689
@billhollings Thanks for the quick fix! Working perfectly.

[2019-07-31 18:17] trojanfoe opened #692 "Validation error calling vkGetPhysicalDeviceSurfaceSupportKHR"
I am writing a macOS app and have used the Cube source as an example, however I use the Vulkan SDK instead of using MoltenVK directly and loading them via `vkGetInstanceProcAddr()` as `cube.c` does.

I link against `libvulkan.dylib` and `libMoltenVK.dylib` and `#include <MoltenVK/mvk_vulkan.h>` in order to expose the metal extension automatically and to use this to create the surface:

    VkMetal

[2019-07-31 18:20] cdavis5e commented on #692
I think the validation layer may not even support `VK_EXT_metal_surface`. I know the CTS doesn't use that extension--it just uses the old `VK_MVK_macos_surface` extension.

[2019-07-31 18:32] trojanfoe commented on #692
Hey thanks for the reply.  Are there any disadvantages to using `VK_MVK_macos_surface` over `VK_EXT_metal_surface`?

[2019-07-31 18:39] cdavis5e commented on #692
`VK_MVK_macos_surface` is now deprecated in favor of `VK_EXT_metal_surface`. So a future version of MoltenVK might rip the old extension out. We just need to implement support for the new extension in the validation layers, and test this in the CTS, and...

But other than that, not really. They largely provide the same functionality.

[2019-07-31 18:40] trojanfoe commented on #692
OK nice one, many thanks.  I'll support both for now.

[2019-07-31 18:40] #692 closed

[2019-08-01 05:14] dannyniu opened #693 "Do/Will MoltenVK support maxImageArrayLayers>1 stereoscopic 3D?"
Is it possible to use MoltenVK to present stereoscopic 3D images when appropriate monitor or TV set is connected?

[2019-08-01 13:50] cdavis5e commented on #693
Not yet. I've asked Apple for this feature, but they've yet to implement it in `CAMetalLayer`.

[2019-08-01 14:34] eintw1ck opened #694 "vkCmdClearImage only checks VK_FORMAT_FEATURE_COLOR_ATTACHMENT_BIT"
Why is this only checking `VK_FORMAT_FEATURE_COLOR_ATTACHMENT_BIT`, shouldn't it be checking for depth and stencil as well for`vkCmdClearDepthStencilImage()`?

https://github.com/KhronosGroup/MoltenVK/blob/65601660190d24d6613959e389bb0a64b999b4d5/MoltenVK/MoltenVK/Commands/MVKCmdTransfer.mm#L1058

Error from RenderDoc (using lastest MoltenVk from git) unable to `vkCmdClearDepthStencilImage()` a de

[2019-08-02 01:42] freesig opened #695 "Exception on latest release (Jul 26)"
To reproduce just resize the window.
__Error:__
[code]
__Callstack:__
[code]
This has shown up on:
MacOS `10.14.6` and `10.13.06`

[2019-08-03 06:09] samcjohnston opened #697 "vkCreateDevice behavior depends on order of pQueueCreateInfos"
I've noticed that creating a device where the VkDeviceQueueCreateInfo elements are not ordered by ascending queueFamilyIndex can cause vkGetDeviceQueue to either return invalid queues or crash. Below is a minimal repro that crashes on my machine:

[code]

I believe this is due to the resize inside MVKDevice::initQueues. When run on the pQueueCreateInfos from the example above, the first iteration

[2019-08-05 15:43] billhollings commented on #192
SIGGRAPH generated some good feedback regarding interest in this feature.

I'll start working on this feature this week. If anyone has started work on this already...or has design ideas...please let me know.

@cdavis5e

[2019-08-05 15:50] cdavis5e commented on #192
I haven't started on this.

I have, however, looked at gfx-rs's implementation. They're just delaying command buffer submission, similar to what we do with `VkSemaphore`. We could probably have that as a fallback in case `MTLSharedEvent` isn't supported.

[2019-08-05 20:47] billhollings commented on #697
Fixed in PR #699. Please retest and close if fixed.

[2019-08-05 20:53] billhollings commented on #695
@freesig

Resizing the MoltenVK cube demo does not cause any issues.

It looks like the semaphore is being destroyed before the swapchain has finished using it. MoltenVK guards against that...and not a lot has changed in that code since the previous SDK release.

What version of SDK/MoltenVK were you using before this issue appeared?

Are you able to modify the Cube demo to cause this to happen? I

[2019-08-05 20:59] billhollings commented on #647
MSL shaders converted using the external tool need to be used in pipelines that reference their resources in a compatible way.

@baldurk What's the status of this issue? If a problem still exists...can you provide a way to replicate it in MoltenVK, please?

[2019-08-06 05:17] samcjohnston commented on #697
My test case no longer crashes. Looks good! Thank you.

[2019-08-06 05:17] #697 closed

[2019-08-08 09:04] starbucksDave commented on #523
Hey everyone,

Is this feature still in development?
I potentially will have a lot more textures (with different resolutions) to deal with than the 128 limit provided by Metal. So I was hoping that the argument buffers would be a way to go bindless and get around the limit.

Thanks,

[2019-08-08 11:58] baldurk commented on #647
Yes the issue still exists the same as described in the original post, I just tested latest MoltenVK. The shader given above will still repro the problem, what else would be useful for you?

[2019-08-08 13:41] baldurk opened #704 "vkCmdBlitImage doesn't handle RGB <-> BGR swap"
If you use vkCmdBlitImage to blit from a VK_FORMAT_R8G8B8A8_UNORM image to a VK_FORMAT_B8G8R8A8_UNORM image it seems to copy directly from byte to byte and the swizzle doesn't happen, so you end up with blue in red and red in blue.

I don't have a minimal repro, but if you build latest RenderDoc (or run the next nightly build for 2019-08-08 or later) and capture vkcube you'll see that the display

[2019-08-08 13:45] baldurk opened #705 "Crash in vkDestroyPipelineLayout"
I ran into a crash inside vkDestroyPipelineLayout, which I found after some experimentation seemed to be related to destroying descriptor pools or maybe layouts before the pipeline layout.

In Vulkan there shouldn't be any ordering requirement on destruction, so it should be valid to destroy these in any order.

The only repro I can give is to load a capture of e.g. vkcube in RenderDoc and select

[2019-08-08 15:28] billhollings commented on #705
I've encountered this too in other scenarios. I'm looking into it.

[2019-08-10 04:02] billhollings commented on #705
@baldurk This is fixed in PR #714. Please retest and close if fixed.

[2019-08-10 04:04] billhollings commented on #192
Support added in #708.

[2019-08-10 04:04] #192 closed

[2019-08-10 22:30] Quenz commented on #203
#192 closed, supported added in #708

[2019-08-12 18:51] billhollings commented on #487
Closing due to age. Please reopen and provide further info if this is still an issue.

[2019-08-12 18:51] #487 closed

[2019-08-12 18:52] #693 closed

[2019-08-12 21:50] billhollings commented on #704
Fixed in PR #717. Please retest and close if issue is fixed.

[2019-08-12 21:51] billhollings commented on #694
Fixed in PR #717. Please retest and close if issue is fixed.

[2019-08-13 16:59] ePirat opened #719 "Wrong include folder name for shaderc in Vulkan SDK"
Not sure where else to report issues with the macOS Vulkan SDK, so I am doing it here. Please let me know if I should file an issue elsewhere.

The macOS Vulkan SDK contains external libraries, among these is shaderc. Unfortunately the headers for shaderc in the include folder are in a folder named libshaderc, which is not how shaderc installs its headers last time I tried. This leads to all proje

[2019-08-13 17:23] billhollings commented on #719
LunarG maintains an [issue list](https://vulkan.lunarg.com/issue/home) for the Vulkan SDK.

[2019-08-13 17:23] #719 closed

[2019-08-14 07:59] ovvldc commented on #192
So this can now be removed from the list of Known Limitations in https://github.com/KhronosGroup/MoltenVK/blob/master/Docs/MoltenVK_Runtime_UserGuide.md#limitations ?

That list its getting impressively short, by the way.

[2019-08-14 12:28] eintw1ck commented on #694
Seems to fix it for me.

[2019-08-14 12:28] #694 closed

[2019-08-14 15:42] billhollings commented on #192
Oops! Good catch! I'll update the doc.

[2019-08-15 07:27] ryao commented on #203
@Rastafabisch Would you retest to see if things work better now?

[2019-08-15 07:43] ryao commented on #203
By the way, D9VK forked DXVK to implement Direct3D 9. Of the 3 remaining features stated to be what DXVK still needs, D9VK only needs cull distance estimation. May I suggest that whoever is working on implementing the remaining three features implement cull distance estimation first? Getting D9VK working would be a nice milestone on the way to getting DXVK working.

[2019-08-15 08:02] ovvldc commented on #203
We had [this list](https://github.com/KhronosGroup/MoltenVK/issues/203#issuecomment-452791488) of things that DXVK support requires, and VkEvents are now supported. So the infrastructure is there. Many thanks for all that hard work, progress has been impressive.

So how are things on geometry shader emulation, cull distance emulation, and VK_EXT_transform_feedback? I understand that it is fairly e

[2019-08-15 12:02] Degerz commented on #203
@ovvldc It's impossible to fully emulate transform feedbacks just using GPU compute shaders on Metal. If geometry shaders or tessellation produces an unknown a number of primitives it's nearly impossible for GPUs to be able to correspond the output data in order with the input data ...

Metal would need to expose features specific to AMD's Navi/RDNA GPUs to be able to properly emulate transform fe

[2019-08-15 16:25] ovvldc commented on #203
Thanks for the explanation. That is a pity. Is there any other way of pulling out the buffers? Some games depends on transform feedbacks, though not all.

[2019-08-15 19:35] Degerz commented on #203
@ovvldc No, it's unfeasible to patch out the rendering logic in games. Apple should just expose geometry shaders and transform feedbacks even if it's solely just for their Mac products instead of wasting everyone's time. If they desire parity so badly either they implement some of the hardware features from AMD's Navi GPUs or implement Nvidia's mesh shaders (I wonder if this is enough to emulate t

[2019-08-15 20:59] ryao commented on #203
Many games worked with DXVK before transform feedback support was added to Vulkan. There were a large minority of games that had issues such as crashing (a significant number of unity games), black screens (e.g. Job Simulator 2050), missing models (e.g. The Witcher 3) or missing effects (e.g. Overwatch) and other misrenderings (e.g. Waltz of the Wizard), but just getting to the point where transfo

[2019-08-16 01:03] doitsujin commented on #203
You could technically do geometry shaders since you know the maximum number of output vertices that are going to be generated, but you'd have to compact the range afterwards (which will hurt performance). It also doesn't work with tessellation or indirect draws.

So yeah, this is a mess and ultimately the main reason why I insisted on getting a Vulkan extension rather than adding weird hacks that

[2019-08-16 01:54] Gcenx commented on #203
@ryao
The thing is how many 64Bit games use DirectX9?
Remember wine can’t currently make use of MoltenVK only wine64 can as Metal is a 64Bit API.

[2019-08-16 04:57] kode54 commented on #203
Well, yeah, but with the 32/64 shim and thunk dance Wine will have to start doing on Catalina to support 32 bit code, it may as well also shim 32 bit processes to be using 64 bit Metal. The real problem then becomes exchanging data between that low 32 bit address space and whatever the heck the system libraries want to map their stuff to.

[2019-08-16 06:41] ovvldc commented on #203
Let's hope that Apple start moving all their laptops to 8 core CPUs ASAP. Otherwise, we won't have the performance needed to run anything.

[2019-08-16 09:05] baldurk commented on #705
This is fixed now if I revert my workaround. Thanks!

[2019-08-16 09:05] #705 closed

[2019-08-16 09:05] baldurk commented on #704
Fixed for me, thanks!

[2019-08-16 09:05] #704 closed

[2019-08-16 09:23] baldurk opened #720 "VK_EXT_metal_surface extension is not reported correctly"
When calling `vkCreateMacOSSurfaceMVK()` I get a message that it's obsolete and I should be using `vkCreateMetalSurfaceEXT()` from `VK_EXT_metal_surface`. However that extension is not reported as supported via `vkEnumerateInstanceExtensionProperties`.

Looking at the output from vulkaninfo, I see that the extension _is_ reported but incorrectly as a device extension. There are also some other ins

[2019-08-16 14:55] cdavis5e commented on #720
The loader does not yet support that extension.

[2019-08-16 19:50] billhollings opened #721 "Vulkan SDK release build Monday Sept 9"
LunarG is planning the next Vulkan SDK release for the week of Monday Sept 9.

MoltenVK PRs approved by Friday Sept 6 will be included, and a MoltenVK release will be made Tuesday Sept 10. Please notify here if you need to get a PR into this SDK release after that date.

@cdavis5e @HansKristian-Work @jeremyk-lunarg

[2019-08-16 21:25] billhollings commented on #720
MoltenVK does not correctly discriminate between the lists returned by the two calls `vkEnumerateInstanceExtensionProperties()` and `vkEnumerateDeviceExtensionProperties()`. It should.

[2019-08-17 19:33] ryao commented on #203
@ovvldc A Hat In Time is the only Direct3D 9 game that I know to be 64-bit. There are likely others. @kode54’s point about the thunking does make it a moot point though.

By the way, the lack of geometry shader emulation, cull distance emulation, and VK_EXT_transform_feedback should be added to the known limitations list for MoltenVK.

[2019-08-17 19:38] K0bin commented on #203
64 Bit D3D9 games:
* A Hat in Time
* Risen 3
* Sims 4
* Blade Symphony
* Final Fantasy 9
* Guild Wars 2

Not really. The known issues with MoltenVK are in regard to the Vulkan CTS. Unlike D3D11, geometry and tessellation shaders are not mandatory for complient Vulkan implementations. It lets you query if geometry/tessellation shaders are supported. Same for the extension obviously. Most Android dr

[2019-08-18 22:59] freesig commented on #695
Hey sorry I've been away. I was on the June release and it was working and now not on the July.
There is another user that has the same issue.
Any of the [vulkano](https://github.com/vulkano-rs/vulkano-examples) examples or [nannou](https://github.com/nannou-org/nannou) examples are hitting this.
I will try out the `cube.c` tonight and let you know.

[2019-08-19 03:45] billhollings commented on #720
@baldurk The reporting of the instance and device extensions is now fixed in PR #723 . Please retest and close this issue if it works.

As @cdavis5e indicates, the reporting of `VK_EXT_metal_surface` works for MoltenVK, but is not supported by the loader yet.

[2019-08-19 08:07] baldurk commented on #720
I can test that the device extension list doesn't include any instance extensions and vice-versa, but it sounds like the core issue that I reported is still a problem if I can't use `VK_EXT_metal_surface`.

Maybe the message about deprecation should be removed until `VK_EXT_metal_surface` is usable?

[2019-08-19 09:11] ovvldc commented on #203
Depends on who is the target for the documentation. If for developers who are up to speed on the entire Vulkan ecosystem, you can refer to compliance with CTS. If for people who are not deeply into Vulkan and want to know if MoltenVK can cover the features of some application, then having a section of limitations that go beyond the CTS would be good. Just as a bit of friendly guidance to the wider

[2019-08-19 13:28] billhollings commented on #720
That core issue needs to be fixed in the layers implementation in the SDK. If you have not done so yet, can you [post an issue](https://vulkan.lunarg.com/issue/home) there, please?

`VK_EXT_metal_surface` is usable within MoltenVK...which is where the deprecation message is originating. Although we encourage the use of the SDK, a number of developers use MoltenVK by itself.

[2019-08-19 14:01] baldurk commented on #720
It's not an SDK wide issue so I looked instead on the Vulkan-Loader repository, and it seems like there's already an issue for this - https://github.com/KhronosGroup/Vulkan-Loader/issues/207

I understand that MoltenVK can be used directly without the loader, but what I mean is that it seems premature to deprecate the `MVK` surface extensions when for many people the new extension they have been d

[2019-08-19 20:12] Luke-Filewalker commented on #486
Got the same problem. I am currently porting Quake 3 to Vulkan/MoltenVK and I get very bad fps on macOS because the main thread always blocks when vkQueuePresentKHR is called. I am using triple buffering and immediate mode. The fix jamesd9 mentioned works, when I remove the semaphore, I have much better frametimes, tough I get a few artifacts.

[2019-08-19 20:15] cdavis5e commented on #486
To fix this properly, we need to fix #602. Then we can use `MTLEvent` for this, which will cause the wait to happen on the GPU.

[2019-08-20 12:27] ryao commented on #203
He might have been pulling my leg, but gamedev1909 in the yuzu discord claims that renderdoc works with Witcher III and hairworks enabled in Parallels Desktop 15 on Mac OS X. He sent me this screenshot (which sadly does not appear to show renderdoc):

![](https://media.discordapp.net/attachments/430904612686659584/613148560447504384/Screen_Shot_2019-08-19_at_8.13.09_PM.png)

He declined to comment

[2019-08-20 13:21] billhollings commented on #486
@cdavis5e Will you be able to look into fixing #602 soon? If not...I can work on it.

[2019-08-20 16:15] cdavis5e commented on #486
I've been meaning to look at this, but with the impending release of Catalina, I've been tied up fixing stuff broken on the current beta. I don't think I'll have time to go fix this anytime soon.

[2019-08-20 16:23] billhollings commented on #486
Okay. I'll have a look later this week. If things change for you, check in with me first.

[2019-08-21 17:07] cdavis5e commented on #629
SPIRV-Cross has been updated to include the necessary changes.

[2019-08-21 17:07] #629 closed

[2019-08-21 20:22] aerofly commented on #486
As I do not have the insight into the MoltenVK code with respect to this issue, I probably can't contribute to the source code, but I would happily test any fixes you apply as our app is crashing if events are active.

[2019-08-27 12:00] K0bin commented on #203
No, from what I know geometry shaders and especially transform feedback are generally unfriendly to modern desktop GPUs as well.

Metal supports a lot of stuff that's not supported on any of their mobile GPUs.
https://developer.apple.com/metal/Metal-Feature-Set-Tables.pdf

[2019-08-27 21:36] aerofly commented on #602
@billhollings
Of course, give me a some time to do extensive tests and I will report back.

[2019-08-28 01:46] csmulhern opened #725 "Memory Leak in MVKInstance::initConfig"
I have noticed if I repeatedly call vkCreateInstance in a loop, memory usage of my process will grow unbounded. I have traced this to the autoreleased CFStrings that are allocated by mvkGetEnvVar, through the call to [[NSProcessInfo processInfo] environment]. Surrounding MVKInstance::initConfig in an autorelease pool would be one way to resolve the leak.

[2019-08-28 09:38] starbucksDave commented on #523
Hey everyone,

Any news on this feature?

Cheers,

[2019-08-28 09:49] aerofly commented on #602
@billhollings
Here are some initial findings on Mac OS with the latest MoltenVK version:

[code]

Config settings for MoltenVK

[code]

When compiling MoltenVK with MTLEvents disabled ( e.g. set MVK_ALLOW_METAL_EVENTS in MVKEnvironment to 0 ) our app runs fine.

When compiling MoltenVK with MTLEvents enabled ( e.g. set MVK_ALLOW_METAL_EVENTS in MVKEnvironment to 1 ) we again observe errors as the

[2019-08-28 15:35] aerofly commented on #602
@billhollings Did a few quick tests, overall the behaviour is a little random and unpredictable, here are my findings:

1) Running with `MTLEvents=on`, `synchronousQueueSubmits=true`, `prefillMetalCommandBuffers=false`, `maxActiveMetalCommandBuffersPerQueue=64` outside of Xcode crashes the App. It looks like the app is rendering a few frames ( 2 or 3 maybe ) and then the error happens.

2) Running

[2019-08-29 11:46] aerofly commented on #602
@cdavis5e I can run this test if you let me know what to modify on the code

@billhollings I ran the above tests on another Mac with a AMD Radeon Pro 580 GPU and 8 GB of RAM. The results are different here and I do observe more 'hangs'.

With this setting: `MTLEvents=on`, `synchronousQueueSubmits=true`, `prefillMetalCommandBuffers=false`, `maxActiveMetalCommandBuffersPerQueue=8` and running the ap

[2019-08-29 20:43] Xioor commented on #431
I was able to use Vulkan with MoltenVK using SDL2 with libMoltenVK.dylib on a real ios device, but libMoltenVK.dylib does not work on an ios simulator because libMoltenVK.dylib is only created for arm64
(The one provided in vulkansdk-macos-1.1.114.0/MoltenVK/iOS/dynamic)

I am trying to find a way to create libMoltenVK.dylib with other architectures, but so far I have been unsuccessful. Does anyon

[2019-08-29 22:44] billhollings commented on #431
@Xioor Your request is not really related to the original topic. Can you move this to another issue, please?

Linking with the simulator will require some effort to build an x86_64 library (probably static) that can be linked when building for the simulator.

Once you create the new issue, we can discuss priority.

[2019-08-30 15:44] Xioor opened #726 "MoltenVK iOS dynamic lib for x86_64 (simulators)"
I was able to use Vulkan with MoltenVK using SDL2 with libMoltenVK.dylib on a real ios device, but libMoltenVK.dylib does not work on an ios simulator because libMoltenVK.dylib is only created for arm64
(The one provided in vulkansdk-macos-1.1.114.0/MoltenVK/iOS/dynamic)

I am trying to find a way to create libMoltenVK.dylib with other architectures, but so far I have been unsuccessful. Does anyon

[2019-08-30 15:45] Xioor commented on #431
@billhollings Here is the new issue: https://github.com/KhronosGroup/MoltenVK/issues/726

[2019-09-01 03:11] billhollings commented on #602
The smaller values of `maxActiveMetalCommandBuffersPerQueue` likely cause some unintended CPU metering as a side-effect, because Metal will block queue submissions on the CPU when it runs out of `MTLCommandBuffers`, until one is freed up by the GPU.

Interesting that this metering causes the problem to go away. It would be interesting to see if further reducing the value of `maxActiveMetalCommandB

[2019-09-01 03:18] billhollings commented on #486
@Luke-Filewalker Can you try running your game with the latest MoltenVK code...with one of the `MVK_ALLOW_METAL_FENCES` (preferred) or `MVK_ALLOW_METAL_EVENTS` environment variables enabled in your game...to see if that improves your performance without breaking anything?

[2019-09-01 11:44] Luke-Filewalker commented on #486
MVK_ALLOW_METAL_FENCES does nothing, and MVK_ALLOW_METAL_EVENTS increases FPS but with a lot of visual artifacts, it basically the same as if I would remove the semaphores dependency between VkSubmitInfo and VkPresentInfoKHR.

[2019-09-01 18:16] billhollings commented on #486
@Luke-Filewalker

Can you clarify what you mean by "does nothing"?  What are the results?

Are you using the latest MoltenVK from [this repo](https://github.com/KhronosGroup/MoltenVK)? The code fixes I'm trying to exercise are not in the Vulkan SDK yet.

You can verify that `MVK_ALLOW_METAL_FENCES` is active by looking for the following log entry:

`[mvk-info] Using MTLFence for semaphores.`

Alte

[2019-09-02 13:30] aerofly commented on #602
@billhollings Thank you for working on this issue. I tried your new code with all 3 variations on how synchronisation is performed, e.g. MTLEvent, MTLFence and software emulation. Using the mvk-Info I verified that the proper synchronisation was indeed used. I also tried on iOS and Mac OS. My observations are still extremely strange and crashes and halts happen in various test scenarious. To summa

[2019-09-02 14:44] Luke-Filewalker commented on #486
With does nothing I meant no change in fps or visual quality (artifacts).

I used the library from the sdk sorry. With the latest version from github, both environment variables increase fps dramatically, (more than 50%) MVK_ALLOW_METAL_EVENTS seems to have more visual artifacts then MVK_ALLOW_METAL_FENCES, not sure if this is just coincidence. When I limit the fps to 60 I have mostly no artifact

[2019-09-03 09:36] manhnt9 opened #729 "Metal intro: How to get Metal texture handle from MoltenVK to bind in Metal?"
I'm developing an iOS app that does off-screen rendering (no swapchain) in C++ and Vulkan.

I want to have GUI in iOS app so I'm using Objective-C project with Metal code for the base app.

This base app can call the engine to render. The problem is displaying. I want to create a Metal view in App and display rendered texture on it. How do I get the underlying Metal texture created by MoltenVK via

[2019-09-03 10:32] manhnt9 commented on #729
Someone on Cpplang Slack suggest me this. It could be the right way.
Anyways I'm waiting for more ideas.

Charlie Tangora 5:07 PM
https://www.khronos.org/registry/vulkan/specs/1.1-extensions/man/html/VK_EXT_metal_surface.html
5:07 PM
https://www.khronos.org/registry/vulkan/specs/1.1-extensions/man/html/vkCreateMetalSurfaceEXT.html
5:07 PM
does that help?

5:08 PM
I think that's the way to get Molt

[2019-09-03 10:36] manhnt9 commented on #729
Found it, Charlie Tangora suggested `void vkGetMTLTextureMVK(VkImage image, id<MTLTexture>* pMTLTexture);` in vk_mvk_moltenvk.h.

[2019-09-03 10:36] #729 closed

[2019-09-03 14:45] DiegoAce opened #730 "Size of constant buffer cannot exceed 65536"
Can the size of a uniform buffer exceed 65536? On my Mac I get an error when I create my pipeline with vkCreateGraphicsPipelines using a shader that has a uniform buffer with a size greater than 65536. I do not get this error on iOS. Only Mac. Should I not exceed 65536 on both iOS and Mac? On Mac, my VkPhysicalDeviceLimits maxUniformBufferRang is 	1073741824. Is that not related?

[2019-09-03 14:47] DiegoAce commented on #730
This is my output:

[mvk-error] VK_ERROR_INITIALIZATION_FAILED: Shader library compile failed (Error code 3):
Compilation failed:

program_source:40:90: error: size of constant buffer cannot exceed 65536
vertex main0_out main0(main0_in in [[stage_in]], constant UniformData& ud [[buffer(0)]], constant UniformModel& um [[buffer(1)]], constant PushConstant& pc [[buffer(2)]], uint gl_InstanceIndex [[i

[2019-09-03 15:58] cdavis5e commented on #730
This actually appears to be a limitation of desktop Metal (cf. [Metal Feature Set Tables](https://developer.apple.com/metal/Metal-Feature-Set-Tables.pdf), under "Maximum function memory allocation for a buffer in the constant address space").

[2019-09-03 16:06] DiegoAce commented on #730
Interesting. Thank you!

[2019-09-03 16:06] #730 closed

[2019-09-03 20:58] cdavis5e commented on #602
[This patch](https://github.com/KhronosGroup/MoltenVK/files/3571615/semaphore-incr-after-sched.txt) will do it.

[2019-09-04 13:41] Graou74 opened #732 "[***MoltenVK ERROR***] Drawable could not be retrieved! Elapsed time: 559.116143 ms."
Hello,
I'm trying to implement in Java the Mac Osx part of the https://github.com/LWJGLX/lwjgl3-awt project that does not exist yet.
To test I am inspired by the code of the class **ClearScreenDemo.java** available from https://github.com/LWJGL/lwjgl3-demos.

During execution, the program enters an infinite loop by repeating the error message:
`[***MoltenVK ERROR***] Drawable could not be retrieve

[2019-09-04 14:15] aerofly commented on #602
@cdavis5e Thank you for this small patch. My report is below.

@billhollings One of the 'hangs' and crashes I observed in my previous postings were caused by a real driver issue that happens only on AMD Radeon 570/580 GPUs. I found this rather by accident, because this bug exists on Windows as well.  It was confirmed by AMD and caused the driver to crash the whole system. The bug happens in certai

[2019-09-04 14:51] cdavis5e commented on #602
We need to figure out `MTLEvent`s eventually. Part of the reason I initially selected them is that `MTLFence`s can't be shared with other processes, but `MTLSharedEvent`s can. This will be important for supporting the `VK_KHR_external_semaphore` extension.

[2019-09-04 15:35] cdavis5e commented on #602
The other reason I didn't use `MTLFence` is that, based on whatever information I could find, `MTLFence`s operate at the command encoder level. So a `MTLFence` on the last command encoder wouldn't necessarily prevent any of the prior command encoders from running. At least, that's what I was afraid of. It might explain the results from #486.

[2019-09-05 08:53] aerofly commented on #602
@cdavis5e I understand the need for `MTLEvent`, but unfortunately
 it's currently not as stable as the solution with `MTLFence`. I did run extensive tests on Mac OS with `MVK_ALLOW_METAL_EVENTS` enabled and `MVK_ALLOW_METAL_FENCES` disabled, but I do get command buffer issues after a while. With `MVK_ALLOW_METAL_FENCES` enabled I get create performance and can run our app without any issues so far

[2019-09-05 20:08] billhollings commented on #602
@cdavis5e

Your point about `VK_KHR_external_semaphore`is definitely an important consideration.

Yeah...Apple is typically obscure on explaining fences. The docs define `MTLFence` as:

And the old [Metal Programming Guide](https://developer.apple.com/library/archive/documentation/Miscellaneous/Conceptual/MetalProgrammingGuide/ResourceHeaps/ResourceHeaps.html#//apple_ref/doc/uid/TP40014221-CH16-SW

[2019-09-05 20:31] billhollings commented on #721
Reminder that tomorrow, Fri Sept 6, is the last day to submit PR's for inclusion in the next Vulkan SDK.

@cdavis5e @HansKristian-Work @jeremyk-lunarg

[2019-09-05 20:46] billhollings commented on #732
Based on the size of your swapchain images, and the frequency with which you are failing to retrieve a drawable, I would expect that you did not pass in a `CAMetalLayer` when you created the rendering surface.

Which call did you use to create your display surface? You would have used one of `vkCreateMetalSurfaceEXT()` or `vkCreateMacOSSurfaceMVK()`. And how did you set the `CAMetalLayer` (or `NSV

[2019-09-05 20:52] cdavis5e commented on #721
Great. There's some stuff I had planned--like argument buffer support and `VK_KHR_multiview` and `VK_KHR_sampler_ycbcr_conversion`--but I don't think I'm going to have all that ready in time.

[2019-09-05 20:59] billhollings commented on #725
@csmulhern

What version of MoltenVK are you using?

This was fixed a couple of months ago, and was included in the MoltenVK 1.0.36 release, and the Vulkan SDK 1.114 release.

[2019-09-05 21:01] billhollings commented on #721
Thanks for letting me know...and thanks for the effort on those!

[2019-09-05 21:04] #586 closed

[2019-09-05 21:04] #649 closed

[2019-09-06 07:57] Graou74 commented on #732
I pass directly a CAMetalLayer (no NSView) but I realize that it is its initialization that must be missing.

Since the implementation is exclusively in Java using the JNI and Objective-C Runtime APIs and I am not familiar with these APIs, exploring the content of CAMetalLayer requires development that takes time.
All the more time that when I created this post I did not really know what informati

[2019-09-06 09:36] starbucksDave commented on #523
We personally dont use VK_DESCRIPTOR_TYPE_{STORAGE,UNIFORM}_BUFFER_DYNAMIC, so for our use case its less important. However it probably makes little sense to support this feature only for the non-dynamic descriptor types when there is a potential solution that supports them all. Is there an issue raised on the SPIRV-Cross repo?

Cheers,

[2019-09-06 15:31] starbucksDave commented on #523
I just noticed the commit to SPIRV-Cross https://github.com/KhronosGroup/SPIRV-Cross/commit/cb35934248920c2ee28e8162205ad390a6d042c9

[2019-09-07 09:40] oscarbg commented on #721
sorry to join.. but let me ask two questions here:
@billhollings will you sync/update your Metal 3.0 branch with all master branch changes in time for release also? (hopefully also upgrading spirv-cross to latest merging https://github.com/KhronosGroup/MoltenVK/pull/734)
@cdavis5e once VK_KHR_multiview and VK_KHR_sampler_ycbcr_conversion land at least the Metal3 branch which also has device_group

[2019-09-07 15:39] cdavis5e commented on #721
We'd still be missing external objects and shader subgroups.

[2019-09-07 18:33] csmulhern commented on #725
Doh, I was using version 1.1.106.0 of the Vulkan SDK. You are correct that this leak was resolved by updating.

On the latest version, I'm seeing two other leaks in the same code (that repeatedly creates and destroys an instance / device / command pool in a loop). One is a leak of MTLCommandQueueDescriptor from MVKQueue::initMTLCommandQueue, the other is a leak of CFString from [_MTLDevice name],

[2019-09-08 07:15] aerofly commented on #602
@billhollings After I circumvented the real driver bug I mentioned before, a 'hang' or better stall is caused if the command buffer is aborted. When using `mvkConfig.synchronousQueueSubmits = false`, a 'stall' causes a frozen screen in our app but we can still use it, e.g. it receives input events and we can exit normally. Sometimes, after a few seconds I even see an 'older frame' and then it stal

[2019-09-08 22:26] Degerz commented on #630
Resolved in #734

[2019-09-08 22:26] #630 closed

[2019-09-09 17:23] jeremyk-lunarg commented on #721
We will be using the following branches and commits in the SDK:
[code]

[2019-09-10 14:39] billhollings commented on #721
@lenny-lunarg

Thanks!

I could not find an `sdk-1.1.121` release for [LunarG/VulkanSamples](https://github.com/LunarG/VulkanSamples/releases)...so I am using commit  [`2403b94ed6463062acff8cfff563ad7ec5cf2b58`](https://github.com/LunarG/VulkanSamples/commit/2403b94ed6463062acff8cfff563ad7ec5cf2b58)...which is the current `HEAD` and is labelled _Update known good for 1.1.121 header_. Let me know i

[2019-09-10 15:08] jeremyk-lunarg commented on #721
@billhollings I might hold off on that.  Looks like there was some weirdness with how we branched.
We are going to have a meeting about it at 9:30am.
I'll update you after that meeting.

[2019-09-10 16:21] starbucksDave opened #735 "VkCmdFillBuffer threadsPerThreadgroup.width(1024) must be <= 256"
On the Intel 630 the maximum thread group width is 256, where the compute kernel to fill a buffer has a threadgroup width of 1024. Maybe this can be reflected from the limits of the device where the pipeline is created on?

[2019-09-10 16:25] jeremyk-lunarg commented on #721
@billhollings
Okay, everything should be good now.
VulkanSmaples should have an sdk-1.1.121 branch.

[2019-09-10 16:56] tasku12 commented on #602
I unfortunately can not easily switch to the newest version of Molten due to linking it statically in my project and having a very old C++ memory manager that globally overrides new and delete. This causes me to have to replace all the stl containers that are being used in molten with my own versions that use custom allocators so that I do not end up with mismatched new and deletes.

In regards to

[2019-09-10 18:47] billhollings commented on #721
@jeremyk-lunarg

Thanks. Working on it. Should be ready soon.

VulkanSamples does have a sdk-1.1.121 branch...and the commit I mention above is at it's HEAD...so all should be fine.

However...in future it would be better to identify a specific release tag like in the other repos...so that we have a definite commit...since branches can move around as commits and merges are added.

[2019-09-10 20:59] billhollings commented on #735
MoltenVK uses `MTLComputePipelineState maxTotalThreadsPerThreadgroup` to determine the thread group width...and that property reports 1,024 for the width of an Intel 630. However...as you indicate, Metal validation uses 256 for the max on the same device.

It looks like, depending on the GPU, Metal can report different values from the `MTLComputePipelineState maxTotalThreadsPerThreadgroup` and `MT

[2019-09-10 21:11] billhollings commented on #721
@jeremyk-lunarg  MoltenVK release [v1.0.37](https://github.com/KhronosGroup/MoltenVK/releases/tag/v1.0.37), including support for Vulkan SDK 1.1.121, is ready now.

[2019-09-10 21:15] jeremyk-lunarg commented on #721
Thanks, @billhollings!

[2019-09-11 09:32] starbucksDave commented on #735
Tested and fixed in latest!

[2019-09-11 09:32] #735 closed

[2019-09-11 18:37] SpuriousWarning opened #737 "MoltenVK Ignores Value of MVK_CONFIG_SYNCHRONOUS_QUEUE_SUBMITS #define"
From the code:
https://github.com/KhronosGroup/MoltenVK/blob/a87ef6bc77cc64e1d987b9863f8875d45670bea8/MoltenVK/MoltenVK/GPUObjects/MVKInstance.mm#L651-L657

The `#undef` clears whatever you set the `#define` to.

The comment is also a little confusing. It seems like a thought was omitted:
`should be turned off by default to ensure , whereas if MTLEvents are supported`

[2019-09-12 04:00] oscarbg opened #738 "Support VK_EXT_texture_compression_astc_hdr on A13 GPUs.."
Hi,
forgot to point new Apple A13 GPUs (Apple GPU family 6) support ASTC HDR and Metal has added corresponding support.. so in theory VK_EXT_texture_compression_astc_hdr can be supported on latest Apple devices
https://developer.apple.com/videos/play/tech-talks/608/

[2019-09-14 14:40] SpuriousWarning opened #739 "On iOS, using dylib per instructions will result in App Store rejection"
If you try to upload an application that is dynamically linking MoltenVK per the instructions in the [MoltenVK Runtime User Guide: Installing MoltenVK in Your Vulkan Application](https://github.com/KhronosGroup/MoltenVK/blob/master/Docs/MoltenVK_Runtime_UserGuide.md#install) to the App Store, you will receive this message:

[2019-09-16 06:05] manhnt9 opened #740 "Crash when call twice MVKPhysicalDevice::getPhysicalDeviceMemoryProperties(VkPhysicalDeviceMemoryProperties2* pMemoryProperties)"
I want to get GPU memory usage. But the function `MVKPhysicalDevice::getPhysicalDeviceMemoryProperties(VkPhysicalDeviceMemoryProperties2* pMemoryProperties)` can only called for one time.
My app crashes when call it next time.

This is not reasonable because MoltenVK should let user query memory usage whenever they'd like to. Or could you suggest a more correct way of doing this? I may misuse `vkG

[2019-09-16 06:32] manhnt9 commented on #740
Solved, I must reuse parameters for multiple calls.

Valid usage:
[code]

Invalid usage:
[code]

[2019-09-16 07:21] manhnt9 commented on #740
JustSid on Vulkan Discord pointed it out that the VkPhysicalDeviceMemoryBudgetPropertiesEXT's pNext should be null to signal the end of chain. I forgot to construct it properly so the pNext got initialized to something random and MVK tries to write to that location.

[2019-09-16 07:21] #740 closed

[2019-09-17 16:45] Kreyren commented on #203
Referencing https://github.com/Winetricks/winetricks/pull/1318

Any news on MacOS support for DXVK?

[2019-09-18 16:02] SpuriousWarning commented on #726
@Xioor - Heads up that dynamic linking will work fine for development on iOS, but note that Apple will reject your application if you try to submit it to the App Store with the dylib included in the bundle, at least if you follow the instructions in the MoltenVK user guide, per issue #739 that I opened a few days ago.

There may be an alternative way to include the dylib that will not be rejected,

[2019-09-18 18:05] starbucksDave commented on #523
Hey everyone,

Just a quick checkup, since I am curious to the features development, is there a branch I can follow?

Cheers,

[2019-09-18 18:48] billhollings commented on #720
The offending log message has been removed.

The `VK_EXT_metal_surface` is [being added](https://github.com/KhronosGroup/Vulkan-Loader/pull/243) to the loader for the next SDK release.

Closing this now.

[2019-09-18 18:48] #720 closed

[2019-09-18 20:31] billhollings commented on #721
@oscarbg

MoltenVK release [v1.0.37-Metal-3.0](https://github.com/KhronosGroup/MoltenVK/releases/tag/v1.0.37-Metal-3.0) is available now.

[2019-09-18 20:31] #721 closed

[2019-09-18 20:39] Xioor commented on #726
@SpuriousWarning I was able to use libMoltenVK.a (static) instead and it works fine and should be approved now. But it only supports arm64 which is my original issue.

[2019-09-18 20:41] SpuriousWarning commented on #726
@Xioor Great, glad to hear it. I'm doing something similar. I just didn't want you to be caught off-guard like I was when I tried to submit it as a dylib.

[2019-09-19 14:37] billhollings commented on #486
That is good news! Thanks for letting us know.

Does anyone have any issues with `MVK_ALLOW_METAL_FENCES` now?

Currently...`MVK_ALLOW_METAL_FENCES` is disabled by default. But in the interests of promoting better performance...it would be nice to be able to enable `MVK_ALLOW_METAL_FENCES` by default (taking into consideration `MTLFence` availability of course)...to gain proper GPU-GPU sync withou

[2019-09-19 14:49] billhollings commented on #602
@aerofly

Were you able to better understand how and where the hangs are occurring when enabling `MVK_ALLOW_METAL_FENCES` (with either `synchronousQueueSubmits = false/true`)?

As per my [note in the related issue](https://github.com/KhronosGroup/MoltenVK/issues/486#issuecomment-533161088)...I'd like to enable `MVK_ALLOW_METAL_FENCES` by default.

[2019-09-19 15:03] aerofly commented on #602
Sorry, I did not yet perform any tests yet with `MVK_ALLOW_METAL_FENCES` enabled and `synchronousQueueSubmits = false`. Let me see if I can perform some tests shortly. I need to add a few debug outputs to see where it might hang.

By the way we have some Apps live in the AppStore for iOS and MacOS that use the latest MoltenVK and `MVK_ALLOW_METAL_FENCES` enabled and `synchronousQueueSubmits = true

[2019-09-19 19:03] aerofly commented on #602
Sorry, my previous posting was a typo, I think there are too many combinations one can test :)

Anyway, here is the correct information:

`MVK_ALLOW_METAL_FENCES enabled` / `synchronousQueueSubmits = true` -> works
`MVK_ALLOW_METAL_FENCES enabled` / `synchronousQueueSubmits = false` -> random hangs

If I set `MVK_ALLOW_METAL_FENCES disabled` but `MVK_ALLOW_METAL_EVENTS enabled` I get:

`MVK_ALLOW_

[2019-09-19 19:07] billhollings commented on #634
Closing. Reopen if this issue is identifiable.

[2019-09-19 19:13] billhollings commented on #146
Closing. Please reopen if more information becomes available.

[2019-09-19 19:13] #146 closed

[2019-09-19 19:15] billhollings commented on #695
@freesig Any further info on the repeatability of this? Are you able to get `cube.c` to fail in the same way?

[2019-09-20 08:12] Graou74 commented on #732
I was finally able to produce a usable CAMetalLayer (the exercise was much more difficult than it seemed).
For the moment this CAMetalLayer contains only its bounds property filled in and the trace indicates that it is well recognized:
[code]
Of course, the rendering is not displayed since CAMetalLayer does not contain any information about the graphic area on the screen.
For the moment, I do not

[2019-09-20 09:02] QuantumDeveloper opened #742 "[MacOS] Very low performance with version 1.1.121"
Hi,

I am writing my own engine on C# using .Net core 3 and I wrapped macOS window to output my triangle demo there and it actually render, BUT....

I receive only ~140 FPS. I investigate a little and found out that calls to
`vkCmdEndRenderPass(), vkEndCommandBuffer() and vkQueueSubmi﻿t()`
takes toooo long and I have no idea why, but this is not the end.

Most interesting thing start when I swipe

[2019-09-23 14:39] Xioor commented on #726
@SpuriousWarning Thank you for reminding me tho because I would have forgotten to change it to static lib if you did not say so!

[2019-09-24 16:43] billhollings commented on #732
I can't give you any information about how to create the `CAMetalLayer` in your Java environment...but typically you would create an instance of an `NSView` subclass that uses a `CAMetalLayer`...and add that view subclass instance to your window.

There are some properties you can set on your view subclass that helps with the integration. You can get an idea by exploring the Demo apps in MoltenVK

[2019-09-24 17:16] billhollings commented on #742
@QuantumDeveloper

There's quite a lot of information here for a simple app, and I'd like to try to narrow down your issues.

How did you trace the timing of these calls. Are you using GPU frame capture...or some other mechanism. And what are you comparing it to?

Can you provide further info about what is happening here? Do you mean when your app goes into the background...or no longer renders to

[2019-09-24 17:28] QuantumDeveloper commented on #742
@billhollings
`How did you trace the timing of these calls. Are you using GPU frame capture...or some other mechanism. And what are you comparing it to?`
I mean that calls somehow are slow down rendering cycle and I receive only ~100 FPS which is completely low value for simple demo with one triangle. Completely the same code on Windows is giving 2500 FPS on my very slow home PC. So, obviously som

[2019-09-24 18:10] billhollings commented on #742
If you are actually presenting each frame, macOS limits the FPS to synch with the display. If you are not presenting each frame, then your app can run at full rendering speed. How are you measuring FPS? Are you actually measuring call timings...and if so, how? Or are you just inferring that the calls are slow based on a general measure of FPS?

How I can do this

All of the MoltenVK configuation p

[2019-09-24 18:18] QuantumDeveloper commented on #742
@billhollings
Yes, I am presenting each frame. I measure FPS as usual - just start high performance timer for 1 second and calculate how much frames I present during that second.
If macOS is limit frames to sync with display, then why my FPS so non-stable like 114, 120, 140, 130, 150 etc? Should it be more stable like 60 60 60 or 120 120 120?

And how often I should present on macOS actually?

Als

[2019-09-25 06:45] Graou74 commented on #732
Thank you, I will explore this track and see how I can do this.

For now I only get a Java AWT CALayer (CAOpenGLLayer more precisely) but I know there is (somewhere) an AWT subclass of NSView.
I have also seen several window classes including one inherited from NSPanel which seems to me the best candidate in the context.

Is the window to which to add the subclass of NSView you are talking about c

[2019-09-26 17:05] billhollings commented on #739
As a stop-gap...PR #744 includes documentation in `MoltenVK_Runtime_UserGuide.md` clarifying that static libraries are the recommended mechanism for linking to **MoltenVK** in _iOS_.

If anyone has success in bundling `libMoltenVK.dylib` into an iOS app, getting it into the iOS App Store, and can provide bundling info...we can include those instructions in the `MoltenVK_Runtime_UserGuide.md` as we

[2019-09-26 17:05] #739 closed

[2019-09-26 21:26] #737 closed

[2019-09-27 07:36] Graou74 commented on #732
AWT Canvas is not attached to any window. It is well associated with a NSView but is not accessible.

It seems that it is possible to manage the rendering by passing only the CAMetalLayer but it requires an expertise that I do not have time to acquire.

Thank you for your help.

[2019-09-27 07:36] #732 closed

[2019-09-27 10:29] QuantumDeveloper commented on #742
@billhollings
OK, to clarify my issue and to be sure we are on the same wave:
I know that macOS and actually Windows will not let me present each frame and frame rate will be maximum of 60 on my PC.
But my concern is that on macOS calls to vulkan functions for end drawing are slow down my render cycle (I suspect that they are waiting to some event to finish on CPU) and all that together slow down

[2019-09-27 15:13] billhollings commented on #737
Fixed in PR #745. Please retest and close this issue if it fixes your issue.

[2019-09-27 18:40] danginsburg commented on #739
You can keep MoltenVK as a dynamic library as long as it is embedded in your application bundle as a framework.  We have passed iOS App Store approval this way.

[2019-09-27 23:07] billhollings commented on #739
Thanks @danginsburg.

Can you clarify what that means in practice? Is it simply a matter of copying `libMoltenVK.dylib` into the `My.app/Frameworks` folder? Or is there some other black magic required?

And did you need to make any adjustments to the default `@rpath/libMoltenVK.dylib` embedded in `libMoltenVK.dylib` when it is built?

[2019-09-29 07:39] Degerz commented on #203
https://www.khronos.org/registry/OpenGL/extensions/NV/NV_mesh_shader.txt

:/

Turing's mesh shaders are not totally capable of emulating the traditional geometry pipeline like like I had hoped as it is with AMD's Primitive Shaders with global ordered append ... (supersede vs superset)

If D3D standardizes this behaviour then there is very little hope for Metal being able to realistically provide f

[2019-09-29 13:49] kuwerty opened #746 "Function specialization leads to Metal shader leaks."
I have an application using vkCreateGraphicsPipelines once per frame and then destroys the pipeline once the command buffer has finished executing. Not ideal, but it seems to expose a resource leak.

The fragment shader is the same on each frame but is specialized with VkSpecializationInfo passed to vkCreateGraphicsPipelines. However the vertex and fragment shaders are the same on each call.

Afte

[2019-09-30 01:10] buzmeg opened #747 "Version 1.1.121.{0,1} crashes in vkCreateGraphicsPipelines"
Maybe I'm doing something erroneous and dumb, but I sure can't see it.  Previous versions work without issue.  Version 1.1.121.1 works on Linux.

Edit: Confirmed that Version 1.1.114.0 works on OS X.  Also confirmed that compiling on 1.1.121.1 and running on 1.1.114.0 works.

Edit: I'm an idiot for not including the debug message on crash:
VUID-VkGraphicsPipelineCreateInfo-sType-sType(ERROR / SPEC

[2019-09-30 08:26] buzmeg commented on #747
Much longer Apple traceback:
`Process:               vkmin [58771]
Path:                  /Users/USER/*/vkmin
Identifier:            vkmin
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [58740]
Responsible:           vkmin [58771]
User ID:               501

Date/Time:             2019-09-30 01:23:42.193 -0700
OS Version:            Mac OS X 10.12.6 (16

[2019-09-30 08:46] buzmeg commented on #747
Okay, this is weird.  I had a bit of a brainwave about narrowing things down, it turns out that you have to have both VK_LAYER_LUNARG_core_validation  and VK_LAYER_LUNARG_parameter_validation enabled in order to trigger the crash.  If you only enable one or the other, the crash does not occur.  (This makes more sense--I found it hard to believe that 1.1.121.1 shipped with a crashing bug in such a

[2019-09-30 08:52] buzmeg commented on #747
Okay, it's the order of the layers.  If you enable VK_LAYER_LUNARG_parameter_validation before VK_LAYER_LUNARG_core_validation, things don't crash:

ie This doesn't crash:

[code]

[2019-09-30 20:11] billhollings commented on #747
@buzmeg

This appears to be originating in the Validation & Layer code from the SDK, and not in MoltenVK code.

I'm going to close this issue here. Can you re-submit this issue to the [SDK issue list](https://vulkan.lunarg.com/issue/home), please?

[2019-09-30 20:11] #747 closed

[2019-09-30 22:58] buzmeg commented on #747
Why?  This doesn't crash on Linux or Windows (as I later checker).  So, it has to be something specific to the MoltenVK implementation and not the SDK.

[2019-10-01 00:05] billhollings commented on #747
MoltenVK is a driver. It completely ignores layers. So the contents of `extra_instance_layers` never makes it to MoltenVK.

In addition...`libMoltenVK.dylib` does not appear anywhere in the call chain in your crash dump above. The crash seems to be coming from `libVkLayer_khronos_validation.dylib`...which is part of the SDK...well before the `vkCreateGraphicsPipelines()` call makes it to MoltenVK.

[2019-10-01 07:55] starbucksDave opened #748 "Feature request VkPhysicalDeviceDescriptorIndexingFeaturesEXT"
Hi!

We noticed that our runtime-sized (sized by the descriptor-set) image2D arrays are not correctly patched before pipeline creation and this seems to be due to missing support for VK_EXT_descriptor_indexing. A potential solution would be to patch the spirv just before pipeline creation, based on the descriptor set layout? Is this feature in the pipeline (pun intended) ;)

`
#version 460
#extens

[2019-10-01 07:56] starbucksDave commented on #523
@cdavis5e Any news on this feature, if there is a working branch somewhere I would love to take a look! :)

Sorry for the prompts, but very curious!

Cheers!

[2019-10-01 08:34] Degerz commented on #748
https://developer.apple.com/documentation/metal/buffers/about_argument_buffers

The above link is relevant subject as Metal exposes support for unbounded resource indexing and I also believe that the capability to do unbounded texture indexing is available on iOS with A13 GPUs. (I'm not sure which source to believe but from the [presentation](https://developer.apple.com/videos/play/tech-talks/608/

[2019-10-03 17:22] QuantumDeveloper commented on #742
@billhollings
I receive crash in libMoltenVK.dylib.
Here is short stacktrace (all I can get throw .net

![image](https://user-images.githubusercontent.com/6085009/66149269-6684de80-e61b-11e9-9dbb-eaa0929ad819.png)

Should I create a separate issue for that?

[2019-10-03 18:42] billhollings commented on #742
@QuantumDeveloper

No...it's fine here. You already have a number of issues listed above that we can look at. Some of them might be related.

[2019-10-03 18:45] QuantumDeveloper commented on #742
@billhollings
Ok, good.
Could you please answer something regarding my [previous post]?(https://github.com/KhronosGroup/MoltenVK/issues/742#issuecomment-535885225)

[2019-10-03 22:51] billhollings commented on #742
What is different between these two scenarios? What code is being executed when the desktop is visible vs. not visible?

Since you are presenting each frame, the OS is involved. It might be that the OS is consuming the 5-20us in order to present your rendered triangle. Unfortunately, I am not able to tell where the delay is occurring without further information.

It's not really an accurate measur

[2019-10-04 17:23] yurikoles opened #750 "Why not just port mesa?"
I'm mostly sure that people behind this project had already reviewed difficulty of porting mesa to macOS. Could you please share issue that one may face when porting mesa to use real GPU acceleration on macOS?

Mesa ticket: [1885](https://gitlab.freedesktop.org/mesa/mesa/issues/1885).

[2019-10-04 18:31] billhollings commented on #750
I'm afraid we can't give you any advice as to how difficult it would be to generate Metal output from Mesa, as we did not look into it in any great detail during the development of MoltenVK.

[2019-10-04 18:32] #750 closed

[2019-10-05 20:46] billhollings commented on #746
@kuwerty

I am unable to replicate this as you describe. Repeatedly creating multiple shader specializations, and/or multiple graphics pipelines using those shader specializations does not result in excess fragment functions in the _All Resources_ pane of a GPU trace.

However...I was able to see excess specialized fragment functions if I did not destroy the graphic pipeline objects when creating

[2019-10-06 04:48] billhollings commented on #725
@csmulhern PR #751 includes a fix for this. Please retest and close this issue if the problem is fixed now.

[2019-10-06 12:31] QuantumDeveloper commented on #742
There is no difference and no any conditions. Exactly the same code executes in both cases.

If it would be helpful, I can post my BeginDraw and EndDraw code here.

I agree, but its really strange that I am observing such dramatic difference between those 2 cases.
It would be grate it you can point what I am doing wrong here.

[2019-10-06 14:08] kattkieru opened #752 "moltenvk folder vanishes during dependencies build"
Xcode 11 (11A419c), macOS Catalina Beta 8? (19A573a). Macbook Pro 2015, 16gb ram, 512gb SSD with 82 gb free.

1) I clone the current moltenvk repo as a subrepo.
2) I cd into moltenvk and run ./fetchDependencies
3) I wait. The dependencies download just fine and it kicks into the xcodebuild bit.

Somewhere around the SPIR-V tools stuff, the moltenvk folder literally vanishes.

I thought maybe there

[2019-10-07 14:42] kuwerty commented on #746
@billhollings The vkDestroyPipeline function was being called and it's destroying the same objects it created on each frame.

With MVK_CONFIG_TRACE_VULKAN_CALLS=1 the main loop repeats as below.

Let me try and get one of the mvk demo apps to do the same thing.

[mvk-trace] vkAcquireNextImageKHR()
[mvk-trace] vkBeginCommandBuffer()
[mvk-trace] vkCreateRenderPass()
[mvk-trace] vkCreateFramebuffer()

[2019-10-07 15:58] kuwerty commented on #746
It's not clear to me why the 'newMTLRenderPipelineState' function here:

https://github.com/KhronosGroup/MoltenVK/blob/master/MoltenVK/MoltenVK/GPUObjects/MVKPipeline.mm#L1752

Does a retain before returning the pipeline state.

After debugging it with xcode: completion handler passes an object with refcount of 1. The compileComplete function takes the retain count to 2.  But the final retain coun

[2019-10-07 19:45] billhollings commented on #746
@kuwerty

Thanks for delving into the code in your testing.

I noticed that sequence too during my investigation..and agree with your assessment of the bonus retain. But in my testing, the eventual retain count works out.

Same thing with the handling of the specialized `MTLFunction` in `MVKFunctionSpecializer`.

Now that you've confirmed you call sequence...I'm wondering if this is an autorelease

[2019-10-07 23:26] billhollings commented on #746
@kuwerty PR #753 wraps shader and pipeline compiling in an autorelease block. Hopefully that fixes the leak under your app environment. Please retest and close this issue if successful.

[2019-10-08 02:28] kuwerty commented on #746
@billhollings Thanks for taking a look. Bad news: I tried the fix and that didn't seem to solve it :-(

Good news? I think I've got some theories as to what happens.

I was just trying to work out why you and I see different retain counts for the Metal pipeline objects and discovered that when 'GPU Frame Capture' is disabled in the Xcode run options that I get the same retain counts as you see (re

[2019-10-08 19:06] billhollings commented on #746
Ahhh...shoot!

Thanks for the further research. So it looks like Xcode is involved somehow in your environment.

Unfortunately I did not see the same effect when I was testing. Even with GPU capture enabled running...the only time I encountered bonus shader function instances was if I did not call `vkDestroyPipeline()`.

What environment are you running? I am running my sample app on iOS 13.1.2 us

[2019-10-09 05:44] kuwerty commented on #746
Sorry, should've said that straight away.  I'm running a MacOS application on MacOS 10.14.6 using Xcode 10.3.

Let me post a link to the support email address later today.

[2019-10-12 20:06] w103csh opened #755 "Cannot use glslang compiler linking capability with the GLSLToSPIRVConverter"
Hello,

I have been lugging around a couple of really small changes to the [GLSLToSPIRVConverter](https://github.com/KhronosGroup/MoltenVK/blob/master/MoltenVKShaderConverter/MoltenVKGLSLToSPIRVConverter/GLSLToSPIRVConverter.h) in a fork of this repo, and I thought I would reach out and see if you all are interested in adding something similar.

In the renderer I am developing I use the glslang gl

[2019-10-13 16:24] csmulhern commented on #725
That fixes it, thanks!

[2019-10-13 16:24] #725 closed

[2019-10-13 17:36] DiligentGraphics opened #756 "Resizing the window makes the app run very slow"
After updating MacOS to Catalina and XCode to 11.1, I started to see the following issue: after resizing the window, applications start to run extremely slow (~1fps) and become unresponsive. They don't crash though and can exit properly. The cube demo from the SDK works fine, so I think it may be related to the DisplayLink that I am using in my applications.
Funny enough, before the update, resize

[2019-10-14 16:19] QuantumDeveloper commented on #756
I am also observing almost the same issue, but in my case on Mojave it was also reproducible.

[2019-10-15 15:22] billhollings commented on #746
After reviewing the demo app and Xcode...this appears to be an issue with Xcode 10 GPU capture under macOS 10.14. It is not occurring when GPU capture is turned off and does not occur at all in Xcode 11/macOS 10.15.

Closing this issue now. If the problem reappears, please reopen with additional info.

[2019-10-15 15:22] #746 closed

[2019-10-15 16:28] billhollings commented on #523
@cdavis5e

Where is this sitting now?

I made some simple changes to descriptor sets to reduce memory use within MoltenVK. I'd like to refactor the `MVKDescriptorXXX` class hierarchies to further reduce memory that is currently consumed by descriptor bindings being generic to all types.

Those changes will be quite intrusive...and I didn't want to undertake them if they would create significant co

[2019-10-15 16:48] cdavis5e commented on #523
I've done a bit of refactoring of my own. [This](https://github.com/KhronosGroup/MoltenVK/files/3730505/mvk-argument-buffers.diff.txt) is what I have so far. It's still mostly incomplete.

Sadly, I haven't been able to work on this much lately. I keep getting pulled off to go work on various Catalina-related bugs in our products. (Frakkin' Apple... can't leave well enough alone...)

[2019-10-15 18:10] billhollings commented on #752
@kattkieru

I am unable to replicate this in Xcode 11.0 (11A420a) on macOS Catalina 10.15.1 Beta. (19B68f).

Is this issue still occurring? If so...under what conditions?

[2019-10-15 18:30] billhollings commented on #756
As mentioned...this doesn't occur on the Cube demo...which also uses DisplayLink.

I'm wondering what options we have to debug this.

Where is this occurring? In an available app?

Or is there a relatively simple app in which this occurs that we can use to replicate the situation here for debugging? If so...can you ZIP it up and post it somewhere in the cloud?

[2019-10-15 18:55] billhollings commented on #755
@w103csh

Thanks for your suggestion...and the PoC work already.

We'd be happy to have you submit a PR with this feature. In doing so, yes...please follow the general existing design and style paradigms.

In looking at your [code](https://github.com/w103csh/MoltenVK/commit/5ff86565237e9a44c1f0daa988fb94f472b20766)...is there a reason why you are treating each code string as its own GLSL shader th

[2019-10-16 01:48] DiligentGraphics commented on #756
Here is the [link to the pre-built executable](https://www.dropbox.com/s/11gc1katwokycjm/Tutorial02_Cube.zip?dl=0)
The source code of the OSX application is [here](https://github.com/DiligentGraphics/DiligentEngine/tree/master/Common/NativeApp/Apple/Source/Classes/OSX)

[2019-10-16 05:08] w103csh commented on #755
@billhollings

I'm glad its something your interested in. It would be nice to not have to maintain a separate fork.

Unfortunately neither of your suggestions are what I am looking for. I tried to see if concatenating the texts together would allow the shaders to be compiled but it did not. The feature I am trying to get to work is specifically the linking part. Ideally you could compile a "link"

[2019-10-16 05:17] w103csh commented on #755
[Here](https://github.com/KhronosGroup/MoltenVK/pull/757) is a link to the PR I made.

[2019-10-16 18:05] kattkieru commented on #752
Still occurring.  I just pulled the MoltenVK repo and checked out master, and the same issues happens at the same file.

I'm now on Catalina (latest "supplemental" update installed), with Xcode 11.1.

[2019-10-17 15:27] billhollings opened #759 "Vulkan SDK release feature cut-off Friday October 25"
LunarG is planning the next Vulkan SDK release in the week of Monday October 28.

MoltenVK PRs approved by Friday October 25 will be included, and a MoltenVK SDK release will be made Monday October 28.

@cdavis5e @HansKristian-Work @jeremyk-lunarg

[2019-10-18 16:55] billhollings commented on #593
@DiligentGraphics PR #760 finally fixes this. The substitution error is now logged when `MTLPixelFormatDepth24Unorm_Stencil8` is not supported by the `MTLDevice`. Please confirm and close this issue if this resolves the issue.

[2019-10-18 16:55] billhollings commented on #602
PR #760 now enables `MVK_ALLOW_METAL_FENCES` by default.

[2019-10-18 16:56] billhollings commented on #486
PR #760 now enables `MVK_ALLOW_METAL_FENCES` by default.

[2019-10-18 16:56] #486 closed

[2019-10-18 16:56] #602 closed

[2019-10-19 00:38] billhollings commented on #755
Fixed in PR #757.

[2019-10-19 00:38] #755 closed

[2019-10-19 03:00] ryao commented on #203
Most Mac OS X systems are using either AMD or Intel graphics, and Vulkan extensions are not available from Metal. Why is the Vulkan extension for Turing relevant? Is there an equivalent function exposed in Metal that you are using the Vulkan documentation to understand?

[2019-10-20 05:50] Degerz commented on #203
@ryao Mesh shaders are getting standardized in D3D and with imposed limitations on all 3 desktop hardware graphics vendors. If Nvidia can't support transform feedbacks with mesh shaders then D3D likely won't as well ...

Apple still cares about portability with Metal even with Nvidia GPUs because they don't want to be tied down to either AMD or Intel on macOS for the foreseeable future so if Apple

[2019-10-20 18:48] #593 closed

[2019-10-23 20:04] Mumsfilibaba opened #761 "VK_MVK_moltenvk not reported. SDK Version 1.1.121.1."
So I have a problem. Since I updated to SDK version 1.1.121.1 i have roughly 1 fps in my application. Though that maybe modifying the MVKConfiguration could help. Only problem is that I cannot get the VK_MVK_moltenvk extension to be reported.

I have tried to load the vkGetMoltenVKConfigurationMVK function with this piece of code:
[code]
But it only returns NULL (Since the VK_MVK_moltenvk extensio

[2019-10-24 07:39] mlfarrell opened #762 "Moltenvk blitting is behaving differently than pure vulkan implementations"
I've been generating mipmaps per the "standard" techniques defined here https://vulkan-tutorial.com/Generating_Mipmaps.

On windows, I get mipmaps that look nearly identical to the OpenGL driver's generated ones, but on moltenvk, something with the manual textured triangle-strip based blitting just isn't quite right - and they look quite ugly.  See the attached images.  It's almost as if the minif

[2019-10-24 19:55] Mumsfilibaba commented on #761
Okay so tested using the runtime variables and that worked fine. They did not solve my problem tho. Disabling the resize (That seems to be the problem in the linked issue) The frametime is still 1000ms.

Profiling the application, it seems like when processing the clearImage commands  takes up most of the time. Have not looked into this that much yet but a quick profiling gives this result.

Curre

[2019-10-24 20:21] billhollings commented on #761
Thanks for the additional debugging info.

Yes. If you retrieve the `VkInstance` through the SDK, then whatever Vulkan layers sit between your app and MoltenVK will substitute opaque wrapper objects. Sending these opaque objects directly back into MoltenVK (because the intervening layers don't support the `VK_MVK_moltenvk` extension) will result in crashes. More info on this can be found in the `M

[2019-10-24 21:24] tomgreen66 opened #763 "Graphics stutter in vkquake after vulkansdk-macos-1.1.92.1"
Redirected here from the lunarg issue site.

Found that vkquake https://github.com/Novum/vkQuake seems to have issues if a vulkansdk after 1.1.92.1 is used.  I raised an issue with vkquake developers first to see if its a known issue and vkquake2 developer suggested a few issues that they worked around in the ticket I raised https://github.com/Novum/vkQuake/issues/192

The game basically stutters

[2019-10-24 21:45] billhollings commented on #763
The version of MoltenVK that appeared in Vulkan SDK 1.1.92 was released almost a year ago...so it's safe to say a lot has changed.

Is there further debugging info you can provide? Are you building directly from the instructions in the vkQuake repo link you provide above (ie. using brew versions and the vkQuake repo)?

[2019-10-25 07:10] tomgreen66 commented on #763
I am using the instructions with Homebrew, as soon as you use 1.1.97.0 the graphics stutter so in just one release cycle something changed to cause it to stutter.  I have been trying to find more debugging information but unable to find anything useful.

Any advice what the basics are to debug or point to a guide?  vkquake2 developer suggested kondrak/vkQuake2@d4c3a25 to fix the issue but trying a

[2019-10-25 18:29] tomgreen66 commented on #763
Should add - I first tried the homebrew method and found it stuttered, due to the comment from the vkquake2 author I instead linked to the vulkansdk version at 1.1.92.1 and it worked but at 1.1.97.0 it didnt so it seemed the same issue as vkquake2 author suggested.  This is using macOS Mojave.

[2019-10-27 22:51] mxpv opened #766 "Support VK_KHR_timeline_semaphore and VK_EXT_descriptor_indexing extensions"
The Vulkan 1.1.124 spec introduces a very nice extension - `VK_KHR_timeline_semaphore` ([pdf](https://www.khronos.org/assets/uploads/developers/library/2019-siggraph/Vulkan-04-Timeline-Semaphore-SIGGRAPH-Jul19.pdf), [issue](https://github.com/KhronosGroup/Vulkan-Docs/issues/1047), [commit](https://github.com/KhronosGroup/Vulkan-Docs/commit/22a5a1459fbe8be546079525c4c9d50bfc20b30b)). It would be gr

[2019-10-28 21:15] billhollings commented on #756
@DiligentGraphics

I've tried running this...but it's failing to find libraries.

Where is the app expecting to find `libvulkan.1.dylib`, `libMoltenVK.dylib` & `MoltenVK_icd.json`?

[2019-10-28 21:23] DiligentGraphics commented on #756
https://github.com/DiligentGraphics/DiligentEngine/blob/master/README.md#configuring-vulkan-build-environment

[2019-10-29 20:49] #759 closed

[2019-10-29 22:51] cmccuewg opened #768 "Inconsistent memory requirements vs. subresource size"
We’re seeing a problem where vkGetImageSubresourceLayout and vkGetImageMemoryRequirements2KHR on iOS for the ASTC 4x4 LDR texture format appear to be returning inconsistent information.

When we create a 256x256 single-mip texture with that format, MVK returns (through vkGetImageMemoryRequirements2KHR) that its size is 64 KB which is exactly what we expect.  But when we call vkGetImageSubresourceL

[2019-10-30 05:09] starbucksDave commented on #523
@cdavis5e did you find some time to work a bit more on this?

[2019-10-30 21:06] repi opened #770 "Xcode 10 build error, still supported?"
Testing building `v1.0.38` branch with Xcode 10.3 and got the following build error:

[code]

Is Xcode 10 still intended to be supported or is Xcode 11 now required as of 1.0.38?

[2019-10-30 21:10] cdavis5e commented on #770
Xcode 11 is now required.

[2019-10-30 21:10] #770 closed

[2019-10-30 21:26] repi commented on #770
Ok thx for confirming

[2019-10-31 03:20] DiligentGraphics commented on #756
I confirm the problem is fixed now. Thanks!

BTW, it would be great if there was a way to download pre-built libraries. It took forever to build dependencies...

[2019-10-31 03:20] #756 closed

[2019-10-31 03:39] DiligentGraphics opened #772 "Tessellation shader produces incorrect results"
[Sample application](https://www.dropbox.com/s/5hqxnjvjlk51jpe/Tutorial08_Tessellation.zip?dl=0)

Tried with the latest release (1.0.38)

OpenGL:
![image](https://user-images.githubusercontent.com/15135271/67916683-bfc92a80-fb53-11e9-8c45-2634ef86b2ff.png)

Vulkan:
![image](https://user-images.githubusercontent.com/15135271/67916749-f010c900-fb53-11e9-88a2-c5640ec6ab45.png)

[2019-11-01 17:43] cmccuewg commented on #768
I just checked, and this still happens with the very latest MoltenVK code.  It also happens with BC compression when using MoltenVK on the Mac.

[2019-11-03 17:07] KaoCC commented on #509
Just want to share the information that there's already one formula here:
[moltem-vk](https://formulae.brew.sh/formula/molten-vk)

One can utilize it with the following CMake template:

[code]

C++ Code for testing:

[code]

[2019-11-04 01:13] FunMiles commented on #695
I am experiencing the same issue quite randomly. If I resize the window manually, it is always in the same spot (and happens almost always after just a few calls), when I call ``graphicsQueue.waitIdle();`` ( am using the C++ interface in vulkan.hpp ).
If I just maximize the window and then put it back into its original size, it happens less often but also at a call to ``vkCreateSwapchainKHR``
I ha

[2019-11-04 19:01] billhollings commented on #761
@Mumsfilibaba

This should be fixed in PR #769...which is also in the 1.1.126 Vulkan SDK.

Please retest and close if this fixes your issue.

[2019-11-04 19:05] billhollings commented on #695
@FunMiles Can you provide any further diagnostics?

Can you ZIP up a sample app that demonstrates the issue? Or if that is not possible, can you provide call stack of the crash?

[2019-11-04 19:30] billhollings commented on #762
@mlfarrell

I'm having trouble seeing what the problem is. What are we looking at here?

Which of the above image is the Vulkan vs OpenGL image? The resolutions seem to be very different. Is the first one (black background) a mipmap at a different level of the second (purple background)?

What are you expecting to see? Can you provide the OpenGL result, the native Vulkan result, and the MoltenVK r

[2019-11-04 20:15] mlfarrell commented on #762
The vulkan image is black.  The distance to the object is about the same (cropping makes this less apparent).  If i have time, I'll extract the mipmaps themselves from the GPU so you can really compare and see how the scaling is different on the moltenvk side.

[2019-11-05 00:39] FunMiles commented on #695
@billhollings I put the crash report into: https://pastebin.com/3EFtqw35
Note that the crash report says thread 5 crashed. But it is always triggered by the call on the 9th frame of thread 0, which is the last call that I control.
As for a zip, I can possibly bundle the full app executable. Would that help? My app has grown too much by now for me to quickly try to create a small sample. I may try

[2019-11-05 09:59] Mumsfilibaba commented on #761
This seems so solve the issue.

[2019-11-05 09:59] #761 closed

[2019-11-05 19:16] mlfarrell commented on #762
@billhollings
Okay.  Here we go.  I put this together last night.  See attached zip.  One is OpenGL, other is molten vk.  Note that on windows' nvidia/amd vulkan drivers, the images exactly match the GL results.  Look at how blocky and incorrectly sampled the vulkan mips are.

Code to produce the mips on vulkan are using vkCmdBlit (or whatever it is).  It's exactly the same code that is in every v

[2019-11-05 19:46] billhollings commented on #762
@mlfarrell Thanks. Looking into it.

[2019-11-05 19:50] mlfarrell commented on #762
@billhollings last night I narrowed it down to a few things.
0 - The `_imageCopyRegions` path wasn't being taken, it is indeed blitting the image as it should.
1 - the blit command encoder is indeed getting the right filter (it's linear).  It's as if metal simply isn't listening to the filter and going nearest anyway.
2 - Maybe some nuance of metal rendering textures across levels prevents filteri

[2019-11-05 20:03] cdavis5e commented on #762
Of course. Metal actually has a dedicated command for generating mipmaps--`-[MTLBlitCommandEncoder generateMipmaps:]`. One of the things I want to do is detect this case and optimize the blit calls to a `generateMipmaps:` call.

[2019-11-05 21:20] billhollings commented on #762
This would be bizarre...and would raise concerns about Metal filtering in general.

Do-able...but ouch...what a kludge that would be...and would remove the ability for the app to choose the filtering type. Definitely a plan B.

I'm working on this now. Let's see.

[2019-11-06 10:16] QuantumDeveloper commented on #742
@billhollings
Unfortunately, your fixes to swapchain in 126 version didnt help with my issue and now became event  worth.
FPS left on the same point - 115-120, but now I cannot resize my window. When I try to resize, it crashes with the following message:
`libc++abi.dylib: terminating with uncaught exception of type std::__1::system_error: mutex lock failed: Invalid argument`

[2019-11-06 17:12] SpuriousWarning opened #773 "Suggestion for More Accurate GPU Timings for vkCmdWriteTimestamp"
Have you considered using MTLCommandBuffer's [GPUStartTime](https://developer.apple.com/documentation/metal/mtlcommandbuffer/1639924-gpustarttime?language=objc) and [GPUEndTime](https://developer.apple.com/documentation/metal/mtlcommandbuffer/1639926-gpuendtime?language=objc) instead of using system time at command buffer submission? These are doubles, in seconds.
Timestamp queries using VK_PIPELI

[2019-11-06 17:17] cdavis5e commented on #773
These are only available on iOS as of 10.3, and macOS as of 10.15.

Real timestamp queries are actually available on macOS in that version, too. One of the things on my todo list is to use the new support for queries in Catalina.

[2019-11-07 15:15] QuantumDeveloper commented on #742
@billhollings
After detailed analysis I found that crash during resizing was because of my code (at least after fix I cannot repro this), **BUT** FPS is still critically low. **120 FPS** in windowed mode and **10 FPS** in full screen mode. This was tested on MoltenVK 1.1.126.

[2019-11-12 13:41] wolfpld opened #774 "Invalid texture mip size passed to Metal in case of small (<4x4), compressed mips"
Hi.
I'm using MoltenVK bundled with Vulkan SDK 1.1.126 (currently the latest release) to target iOS devices.

When I'm trying to upload an 1x1 mip-map of a ETC2 compressed texture using `vkCmdCopyBufferToImage`, with `VkBufferImageCopy.imageExtent` set to `width=4`, `height=4` I get the following error during a call to `vkQueueSubmit()`:

`-[MTLDebugBlitCommandEncoder validateCopyFromBuffer:source

[2019-11-12 22:41] billhollings commented on #762
@mlfarrell This is fixed in PR #775. Please retest and close this issue if it fixes your issue.

[2019-11-12 22:45] billhollings commented on #772
@cdavis5e Can you have a look at this when you get a chance, please?

[2019-11-13 05:29] dimi309 commented on #742
I too have noticed a very significant drop in framerate when going full screen on catalina on a 2017 macbook pro (13 inch non-retina display), using the .126 version of the vulkan/moltenvk distribution. My programs are using the glfw library. I have tried to unset the MVK_CONFIG_SYNCHRONOUS_QUEUE_SUBMITS environment variable as suggested in one discussion I found online, but it does not seem to ha

[2019-11-13 16:17] cdavis5e commented on #772
Sorry. I can't look at this right now because I'm busy with critical bugs in CrossOver 19.

[2019-11-13 23:02] mlfarrell opened #776 "Cannot build master"
xcode 11.
macos 10.14

./fetchDependencies
[code]

[2019-11-13 23:04] mlfarrell commented on #462
I just hit this today, hard.  Lost an hour sofar and counting.  No workaround in sight.

[2019-11-13 23:18] mlfarrell commented on #776
ugh, it was because I have a space in my path..

[code]

[2019-11-13 23:18] #776 closed

[2019-11-14 23:47] billhollings commented on #774
Hmmm...I'm not sure that the "or" implies that you can use whichever value you want.

Does the option to specify either value work on native Vulkan drivers?

The way I read the spec...if your copy extent does not have dimensions that align with the block size, then you should specify a copy extent that will fit inside the image (imageOffset + imageExtent == subresource width), and NOT use a multip

[2019-11-14 23:47] billhollings commented on #776
Thanks for catching and reporting this. No need to have closed it.

PR #777 includes a fix to this. Please retest and if the problem is NOT fixed, please reopen this issue.

[2019-11-15 13:29] wolfpld commented on #774
I agree that the spec can be pretty vague about many things, but in this case this is a clear "A or B" situation. There is no extra language, which would guide someone to apply the A case in one scenario, and the B case in another one, so both must be valid at all times.

Yes, the nvidia drivers on Windows accept both 1x1 and 4x4 subresource sizes for 1x1 image. Please also take a look at the vali

[2019-11-17 00:11] billhollings commented on #774
You can follow the [instructions for building MoltenVK](https://github.com/KhronosGroup/MoltenVK/blob/master/README.md#building) into a library, and then replace the existing MoltenVK libraries in the SDK with the libraries resulting from that build.

[2019-11-17 00:48] billhollings commented on #768
@cmccuewg This is fixed in PR #778. Please retest and close this issue if it fixes your problem.

[2019-11-17 01:40] cmccuewg commented on #768
Thanks!  I'm travelling most of next week so it may be the following week, but I will test this as soon as I can.

[2019-11-17 02:19] aclysma opened #779 "Updating from 1.1.121.1 to 1.1.126.0 results in crash on first call to vkAcquireNextImageKHR"
While investigating this issue in my project (https://github.com/aclysma/skulpin/issues/18) I decided to try the latest SDK so that I could pick up PR #760. Unfortunately, my program crashes:

[code]

Reverting back to 1.1.121.1 removes the crash and my program renders correctly. I do not see any debug validation when running either 1.1.121.1 or 1.1.126.0.

The fence is null, but the semaphore is

[2019-11-18 11:08] ystreet opened #780 "Device memory leaks MTLHeap"
Using SDK 1.1.126.0:

I have an application that currently creates and destroys images every frame (yes I know that is terrible) that has a memory leak growing on the order of all of the image contents.

I believe this was introduced by https://github.com/KhronosGroup/MoltenVK/pull/711 by a missing `[_mtlHeap release]` in MVKDeviceMemory's destructor.

Unfortunately I do not currently have the bui

[2019-11-18 16:36] cmccuewg commented on #768
Yes, this problem appears to be fixed.  Thank you!

[2019-11-18 16:36] #768 closed

[2019-11-18 19:18] billhollings commented on #780
@ystreet

Thanks for reporting this and doing the detective work. PR #781 implements your suggestion. Please retest and close this issue if it fixes the problem for you.

[2019-11-18 19:47] billhollings commented on #772
@cdavis5e  I've started to look at this now.

[2019-11-18 22:45] ystreet commented on #780
The leak is gone now! Thanks.

[2019-11-18 22:45] #780 closed

[2019-11-21 00:29] FunMiles commented on #695
@billhollings The problem does not happen on the sample cube code.
However I think there is a fundamental difference that is probably at the root of the issue.
In the cube example, the same thread handles the drawing and the resizing.
I wrote my code to have a Qt based GUI and windowing system. There's a separate thread doing the drawing. That thread is put in temporary sleep during the resize. Bu

[2019-11-24 18:20] mbarriault opened #782 "Request support VK_EXT_inline_uniform_block"
From the [spec](https://www.khronos.org/registry/vulkan/specs/1.1-extensions/html/vkspec.html#VK_EXT_inline_uniform_block), looks like it would be very handy for small descriptors (personally looking at using a storage buffer for dynamic lighting, and would like to use this for the light count). Suspect this should be fairly straightforward to implement via `set[Vertex/Fragment/Compute]Bytes`, whi

[2019-11-25 20:07] mbarriault commented on #782
To head anyone off who might start this, think I might have this implemented. Just a few gaps to fill and to test.

[2019-11-26 15:48] o1lo01ol1o opened #784 "Current spirv-cross dependency"
Hi,

  Just wondering when the effects of https://github.com/KhronosGroup/SPIRV-Cross/pull/1217 could be officially felt here in master.

Thanks.

[2019-11-26 20:15] #782 closed

[2019-11-26 21:58] cdavis5e commented on #628
Can you retest this with #785?

[2019-11-26 22:06] billhollings commented on #784
@o1lo01ol1o  PR #785 includes a pull of the latest SPIRV-Cross version, which includes your request.

[2019-11-26 22:06] #784 closed

[2019-11-26 22:07] billhollings commented on #772
@DiligentGraphics PR #785 fixes this issue. Please re-test and close this issue if it fixes your issue.

[2019-11-26 22:48] DiligentGraphics commented on #772
@billhollings Thanks! Will test the fix soon.

[2019-11-28 09:25] starbucksDave opened #786 "Wrong memory types reported"
On M395x and Radeon VII the following memory/heap types are reported:
memtypes:
[code]
heaps:
[code]

It reports that memory type 2 is device_local but it goes on a heap that is not device_local.
However the spec states:
[code]

[2019-12-03 19:42] edoren commented on #779
I'm currently having the same issue, after switching to 1.1.121.1 it worked well.

[2019-12-04 18:33] jamesd9 commented on #462
Is there any progress getting this fixed? Precompiled metal shaders aren't really useable until it is.

[2019-12-05 19:48] oscarbg commented on #628
will test soon.. sorry for delay..

[2019-12-05 20:17] billhollings opened #788 "Vulkan SDK release feature cut-off Friday December 13"
LunarG is planning the next Vulkan SDK release in the week of Monday December 16.

MoltenVK PRs approved by Friday December 13 will be included, and a MoltenVK SDK release will be made Monday December 16.

@cdavis5e @HansKristian-Work @jeremyk-lunarg

[2019-12-06 21:26] SpuriousWarning opened #790 "MoltenVK and Vulkan Specification Occlusion Query Behavior Mismatch"
MoltenVK's occlusion query counting behavior is different from the Vulkan specification. This is a relatively subtle different, but as described in [17.3. Occlusion Queries](https://vulkan.lunarg.com/doc/view/1.1.108.0/mac/chunked_spec/chap17.html#queries-occlusion):

(emphasis added)

According to the [Apple documentation](https://developer.apple.com/documentation/metal/mtlvisibilityresultmode/mt

[2019-12-07 17:34] maltekliemann opened #791 "vkAcquireNextImageKHR throws std::out_of_range"
I'm using MoltenVK from the LunarG Vulkan SDK 1.1.126.0 on macOS 10.15.1. The following issue has been discussed on stackexchange [[here]](https://stackoverflow.com/questions/59138184/vulkan-vkacquirenextimagekhr-throws-stdout-of-range-when-certain-queue-fam?noredirect=1#comment104594261_59138184) and is possibly related to #779 (and the issues referenced therein).

### Detailed description

Calli

[2019-12-10 14:34] andystanton commented on #788
hi @billhollings, Will LunarG be notarizing the macOS binaries so they can be used with macOS Catalina? (see https://vulkan.lunarg.com/issue/view/5d9b73d786da81451cc37e7b for issue report).

[2019-12-10 15:46] jeremyk-lunarg commented on #788
@andystanton we are working on getting the MacOS SDK notarized.  We are hoping it can be done this SDK, but it might slip to next SDK.  Until then, please follow this note in the MacOS Getting Started Guide: